.wrapper_dots {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: grid;
  place-items: center;
}
.wrapper_dots .scene {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  place-items: center;
}
.wrapper_dots .scene .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsl(var(--hue), 90%, 70%);
  -webkit-animation: dots_move 5s infinite ease-in-out;
          animation: dots_move 5s infinite ease-in-out;
  -webkit-animation-delay: calc(var(--delay_2) + var(--delay));
          animation-delay: calc(var(--delay_2) + var(--delay));
}
.wrapper_dots .scene .dot:nth-child(1) {
  --hue: 160.8318686959;
}
.wrapper_dots .scene .dot:nth-child(2) {
  --hue: 86.9895216942;
}
.wrapper_dots .scene .dot:nth-child(3) {
  --hue: 221.5843075921;
}
.wrapper_dots .scene .dot:nth-child(4) {
  --hue: 146.4720161026;
}
.wrapper_dots .scene .dot:nth-child(5) {
  --hue: 105.7096743463;
}
.wrapper_dots .scene .dot:nth-child(6) {
  --hue: 246.5326346433;
}
.wrapper_dots .scene .dot:nth-child(7) {
  --hue: 210.0405510442;
}
.wrapper_dots .scene .dot:nth-child(8) {
  --hue: 131.0509035692;
}
.wrapper_dots .scene .dot:nth-child(9) {
  --hue: 94.1409959272;
}
.wrapper_dots .scene .dot:nth-child(10) {
  --hue: 236.9007528326;
}
.wrapper_dots .scene .dot:nth-child(11) {
  --hue: 72.9260688545;
}
.wrapper_dots .scene .dot:nth-child(12) {
  --hue: 297.4316485646;
}
.wrapper_dots .scene .dot:nth-child(13) {
  --hue: 49.2193571769;
}
.wrapper_dots .scene .dot:nth-child(14) {
  --hue: 203.8986152221;
}
.wrapper_dots .scene .dot:nth-child(15) {
  --hue: 159.7324951244;
}
.wrapper_dots .scene .dot:nth-child(16) {
  --hue: 162.2938057669;
}
.wrapper_dots .scene .dot:nth-child(17) {
  --hue: 194.3168701324;
}
.wrapper_dots .scene .dot:nth-child(18) {
  --hue: 184.1654755009;
}
.wrapper_dots .scene .dot:nth-child(19) {
  --hue: 189.2017407967;
}
.wrapper_dots .scene .dot:nth-child(20) {
  --hue: 195.9368409821;
}
.wrapper_dots .scene .dot:nth-child(21) {
  --hue: 24.1934642748;
}
.wrapper_dots .scene .dot:nth-child(22) {
  --hue: 140.802238104;
}
.wrapper_dots .scene .dot:nth-child(23) {
  --hue: 173.5597321192;
}
.wrapper_dots .scene .dot:nth-child(24) {
  --hue: 245.1598674781;
}
.wrapper_dots .scene .dot:nth-child(25) {
  --hue: 87.8418689543;
}
.wrapper_dots .scene .dot:nth-child(26) {
  --hue: 67.3020817441;
}
.wrapper_dots .scene .dot:nth-child(27) {
  --hue: 126.6214386664;
}
.wrapper_dots .scene .dot:nth-child(28) {
  --hue: 281.650557243;
}
.wrapper_dots .scene .dot:nth-child(29) {
  --hue: 233.3384147684;
}
.wrapper_dots .scene .dot:nth-child(30) {
  --hue: 213.7375034338;
}
.wrapper_dots .scene .dot:nth-child(31) {
  --hue: 32.9998101323;
}
.wrapper_dots .scene .dot:nth-child(32) {
  --hue: 240.6241463234;
}
.wrapper_dots .scene .dot:nth-child(33) {
  --hue: 294.6651709698;
}
.wrapper_dots .scene .dot:nth-child(34) {
  --hue: 286.1649122927;
}
.wrapper_dots .scene .dot:nth-child(35) {
  --hue: 252.4123457594;
}
.wrapper_dots .scene .dot:nth-child(36) {
  --hue: 232.6009252962;
}
.wrapper_dots .scene .dot:nth-child(37) {
  --hue: 191.2298917888;
}
.wrapper_dots .scene .dot:nth-child(38) {
  --hue: 32.9474199544;
}
.wrapper_dots .scene .dot:nth-child(39) {
  --hue: 286.8148796979;
}
.wrapper_dots .scene .dot:nth-child(40) {
  --hue: 196.6241542024;
}
.wrapper_dots .scene .dot:nth-child(41) {
  --hue: 109.5894698345;
}
.wrapper_dots .scene .dot:nth-child(42) {
  --hue: 34.8735035721;
}
.wrapper_dots .scene .dot:nth-child(43) {
  --hue: 23.6041815069;
}
.wrapper_dots .scene .dot:nth-child(44) {
  --hue: 150.1048963704;
}
.wrapper_dots .scene .dot:nth-child(45) {
  --hue: 154.5245649861;
}
.wrapper_dots .scene .dot:nth-child(46) {
  --hue: 224.8584409626;
}
.wrapper_dots .scene .dot:nth-child(47) {
  --hue: 274.0385039029;
}
.wrapper_dots .scene .dot:nth-child(48) {
  --hue: 34.1661655527;
}
.wrapper_dots .scene .dot:nth-child(49) {
  --hue: 167.1868298709;
}
.wrapper_dots .scene .dot:nth-child(50) {
  --hue: 39.4835050305;
}
.wrapper_dots .scene .dot:nth-child(51) {
  --hue: 231.7437223759;
}
.wrapper_dots .scene .dot:nth-child(52) {
  --hue: 195.8224830275;
}
.wrapper_dots .scene .dot:nth-child(53) {
  --hue: 214.3467570959;
}
.wrapper_dots .scene .dot:nth-child(54) {
  --hue: 121.0604894018;
}
.wrapper_dots .scene .dot:nth-child(55) {
  --hue: 229.7871307284;
}
.wrapper_dots .scene .dot:nth-child(56) {
  --hue: 37.4014150226;
}
.wrapper_dots .scene .dot:nth-child(57) {
  --hue: 13.7145645429;
}
.wrapper_dots .scene .dot:nth-child(58) {
  --hue: 185.0741100268;
}
.wrapper_dots .scene .dot:nth-child(59) {
  --hue: 178.0092447385;
}
.wrapper_dots .scene .dot:nth-child(60) {
  --hue: 218.2923239626;
}
.wrapper_dots .scene .dot:nth-child(61) {
  --hue: 103.9147822273;
}
.wrapper_dots .scene .dot:nth-child(62) {
  --hue: 101.1647944358;
}
.wrapper_dots .scene .dot:nth-child(63) {
  --hue: 240.2334773945;
}
.wrapper_dots .scene .dot:nth-child(64) {
  --hue: 218.4450918291;
}
.wrapper_dots .scene .dot:nth-child(65) {
  --hue: 4.7829147561;
}
.wrapper_dots .scene .dot:nth-child(66) {
  --hue: 110.9807778718;
}
.wrapper_dots .scene .dot:nth-child(67) {
  --hue: 155.2397205547;
}
.wrapper_dots .scene .dot:nth-child(68) {
  --hue: 283.2974527214;
}
.wrapper_dots .scene .dot:nth-child(69) {
  --hue: 299.6673625495;
}
.wrapper_dots .scene .dot:nth-child(70) {
  --hue: 60.0838163837;
}
.wrapper_dots .scene .dot:nth-child(71) {
  --hue: 169.9294889512;
}
.wrapper_dots .scene .dot:nth-child(72) {
  --hue: 60.2964572907;
}
.wrapper_dots .scene .dot:nth-child(73) {
  --hue: 269.3657060339;
}
.wrapper_dots .scene .dot:nth-child(74) {
  --hue: 220.6417094686;
}
.wrapper_dots .scene .dot:nth-child(75) {
  --hue: 18.3505490073;
}
.wrapper_dots .scene .dot:nth-child(76) {
  --hue: 14.8609400683;
}
.wrapper_dots .scene .dot:nth-child(77) {
  --hue: 187.1160576979;
}
.wrapper_dots .scene .dot:nth-child(78) {
  --hue: 85.2671269611;
}
.wrapper_dots .scene .dot:nth-child(79) {
  --hue: 239.0704721943;
}
.wrapper_dots .scene .dot:nth-child(80) {
  --hue: 205.4729953848;
}
.wrapper_dots .scene .dot:nth-child(81) {
  --hue: 159.1686306746;
}
.wrapper_dots .scene .dot:nth-child(82) {
  --hue: 236.1691622994;
}
.wrapper_dots .scene .dot:nth-child(83) {
  --hue: 290.6498280986;
}
.wrapper_dots .scene .dot:nth-child(84) {
  --hue: 286.684998543;
}
.wrapper_dots .scene .dot:nth-child(85) {
  --hue: 167.5231827465;
}
.wrapper_dots .scene .dot:nth-child(86) {
  --hue: 181.2559794277;
}
.wrapper_dots .scene .dot:nth-child(87) {
  --hue: 293.0151065593;
}
.wrapper_dots .scene .dot:nth-child(88) {
  --hue: 45.3071605164;
}
.wrapper_dots .scene .dot:nth-child(89) {
  --hue: 112.1084090906;
}
.wrapper_dots .scene .dot:nth-child(90) {
  --hue: 127.3874050329;
}
.wrapper_dots .scene .dot:nth-child(91) {
  --hue: 194.3836767904;
}
.wrapper_dots .scene .dot:nth-child(92) {
  --hue: 282.9807778859;
}
.wrapper_dots .scene .dot:nth-child(93) {
  --hue: 6.6308644367;
}
.wrapper_dots .scene .dot:nth-child(94) {
  --hue: 264.4315870687;
}
.wrapper_dots .scene .dot:nth-child(95) {
  --hue: 59.0444068058;
}
.wrapper_dots .scene .dot:nth-child(96) {
  --hue: 192.6135003711;
}
.wrapper_dots .scene .dot:nth-child(97) {
  --hue: 275.2045834625;
}
.wrapper_dots .scene .dot:nth-child(98) {
  --hue: 220.9067726259;
}
.wrapper_dots .scene .dot:nth-child(99) {
  --hue: 11.7331105708;
}
.wrapper_dots .scene .dot:nth-child(100) {
  --hue: 263.5839552898;
}
.wrapper_dots .scene .dot:nth-child(101) {
  --hue: 89.4017460444;
}
.wrapper_dots .scene .dot:nth-child(102) {
  --hue: 155.0890099629;
}
.wrapper_dots .scene .dot:nth-child(103) {
  --hue: 173.4743055724;
}
.wrapper_dots .scene .dot:nth-child(104) {
  --hue: 61.5629546431;
}
.wrapper_dots .scene .dot:nth-child(105) {
  --hue: 80.9445804181;
}
.wrapper_dots .scene .dot:nth-child(106) {
  --hue: 4.0375623769;
}
.wrapper_dots .scene .dot:nth-child(107) {
  --hue: 251.5100197436;
}
.wrapper_dots .scene .dot:nth-child(108) {
  --hue: 111.571618515;
}
.wrapper_dots .scene .dot:nth-child(109) {
  --hue: 138.225653356;
}
.wrapper_dots .scene .dot:nth-child(110) {
  --hue: 6.5505259884;
}
.wrapper_dots .scene .dot:nth-child(111) {
  --hue: 103.8808452228;
}
.wrapper_dots .scene .dot:nth-child(112) {
  --hue: 231.5588070782;
}
.wrapper_dots .scene .dot:nth-child(113) {
  --hue: 156.7556213861;
}
.wrapper_dots .scene .dot:nth-child(114) {
  --hue: 107.0595696303;
}
.wrapper_dots .scene .dot:nth-child(115) {
  --hue: 145.6830909068;
}
.wrapper_dots .scene .dot:nth-child(116) {
  --hue: 276.19470782;
}
.wrapper_dots .scene .dot:nth-child(117) {
  --hue: 110.6689538372;
}
.wrapper_dots .scene .dot:nth-child(118) {
  --hue: 119.5627495913;
}
.wrapper_dots .scene .dot:nth-child(119) {
  --hue: 86.468057128;
}
.wrapper_dots .scene .dot:nth-child(120) {
  --hue: 38.4523656358;
}
.wrapper_dots .scene .dot:nth-child(121) {
  --hue: 81.6120898412;
}
.wrapper_dots .scene .dot:nth-child(122) {
  --hue: 68.4665091754;
}
.wrapper_dots .scene .dot:nth-child(123) {
  --hue: 78.3959824844;
}
.wrapper_dots .scene .dot:nth-child(124) {
  --hue: 160.3323936596;
}
.wrapper_dots .scene .dot:nth-child(125) {
  --hue: 140.9552788409;
}
.wrapper_dots .scene .dot:nth-child(126) {
  --hue: 23.6800535933;
}
.wrapper_dots .scene .dot:nth-child(127) {
  --hue: 62.3352943052;
}
.wrapper_dots .scene .dot:nth-child(128) {
  --hue: 245.3685613966;
}
.wrapper_dots .scene .dot:nth-child(129) {
  --hue: 100.6409536667;
}
.wrapper_dots .scene .dot:nth-child(130) {
  --hue: 206.5774775963;
}
.wrapper_dots .scene .dot:nth-child(131) {
  --hue: 297.5902775263;
}
.wrapper_dots .scene .dot:nth-child(132) {
  --hue: 257.5718367235;
}
.wrapper_dots .scene .dot:nth-child(133) {
  --hue: 75.0670506296;
}
.wrapper_dots .scene .dot:nth-child(134) {
  --hue: 230.4318656284;
}
.wrapper_dots .scene .dot:nth-child(135) {
  --hue: 148.3784646861;
}
.wrapper_dots .scene .dot:nth-child(136) {
  --hue: 255.5697690751;
}
.wrapper_dots .scene .dot:nth-child(137) {
  --hue: 4.867523949;
}
.wrapper_dots .scene .dot:nth-child(138) {
  --hue: 252.6266913868;
}
.wrapper_dots .scene .dot:nth-child(139) {
  --hue: 290.9545674573;
}
.wrapper_dots .scene .dot:nth-child(140) {
  --hue: 271.3164392407;
}
.wrapper_dots .scene .dot:nth-child(141) {
  --hue: 163.8181824166;
}
.wrapper_dots .scene .dot:nth-child(142) {
  --hue: 27.6317305376;
}
.wrapper_dots .scene .dot:nth-child(143) {
  --hue: 148.5006175468;
}
.wrapper_dots .scene .dot:nth-child(144) {
  --hue: 81.0361174441;
}
.wrapper_dots .scene .dot:nth-child(145) {
  --hue: 135.5125537346;
}
.wrapper_dots .scene .dot:nth-child(146) {
  --hue: 41.4332407623;
}
.wrapper_dots .scene .dot:nth-child(147) {
  --hue: 252.3031835715;
}
.wrapper_dots .scene .dot:nth-child(148) {
  --hue: 80.5655103651;
}
.wrapper_dots .scene .dot:nth-child(149) {
  --hue: 12.727819717;
}
.wrapper_dots .scene .dot:nth-child(150) {
  --hue: 6.6458067522;
}
.wrapper_dots .scene .dot:nth-child(151) {
  --hue: 148.8603515837;
}
.wrapper_dots .scene .dot:nth-child(152) {
  --hue: 90.5987952649;
}
.wrapper_dots .scene .dot:nth-child(153) {
  --hue: 214.0127900674;
}
.wrapper_dots .scene .dot:nth-child(154) {
  --hue: 107.8737304467;
}
.wrapper_dots .scene .dot:nth-child(155) {
  --hue: 102.1109615652;
}
.wrapper_dots .scene .dot:nth-child(156) {
  --hue: 68.8828175638;
}
.wrapper_dots .scene .dot:nth-child(157) {
  --hue: 85.375289167;
}
.wrapper_dots .scene .dot:nth-child(158) {
  --hue: 146.6873378406;
}
.wrapper_dots .scene .dot:nth-child(159) {
  --hue: 233.1584684716;
}
.wrapper_dots .scene .dot:nth-child(160) {
  --hue: 27.1246509404;
}
.wrapper_dots .scene .dot:nth-child(161) {
  --hue: 180.6954932108;
}
.wrapper_dots .scene .dot:nth-child(162) {
  --hue: 197.5745798091;
}
.wrapper_dots .scene .dot:nth-child(163) {
  --hue: 41.9407844065;
}
.wrapper_dots .scene .dot:nth-child(164) {
  --hue: 157.6920355663;
}
.wrapper_dots .scene .dot:nth-child(165) {
  --hue: 292.8895150415;
}
.wrapper_dots .scene .dot:nth-child(166) {
  --hue: 52.7770879444;
}
.wrapper_dots .scene .dot:nth-child(167) {
  --hue: 217.4555577126;
}
.wrapper_dots .scene .dot:nth-child(168) {
  --hue: 214.0959749887;
}
.wrapper_dots .scene .dot:nth-child(169) {
  --hue: 286.7106414627;
}
.wrapper_dots .scene .dot:nth-child(170) {
  --hue: 169.4624968875;
}
.wrapper_dots .scene .dot:nth-child(171) {
  --hue: 259.0193377442;
}
.wrapper_dots .scene .dot:nth-child(172) {
  --hue: 183.9815719246;
}
.wrapper_dots .scene .dot:nth-child(173) {
  --hue: 138.4177840704;
}
.wrapper_dots .scene .dot:nth-child(174) {
  --hue: 197.6890321989;
}
.wrapper_dots .scene .dot:nth-child(175) {
  --hue: 168.9781594745;
}
.wrapper_dots .scene .dot:nth-child(176) {
  --hue: 27.5307519719;
}
.wrapper_dots .scene .dot:nth-child(177) {
  --hue: 164.3735389815;
}
.wrapper_dots .scene .dot:nth-child(178) {
  --hue: 188.8836113758;
}
.wrapper_dots .scene .dot:nth-child(179) {
  --hue: 88.9497552356;
}
.wrapper_dots .scene .dot:nth-child(180) {
  --hue: 193.6534136018;
}
.wrapper_dots .scene .dot:nth-child(181) {
  --hue: 88.2693556399;
}
.wrapper_dots .scene .dot:nth-child(182) {
  --hue: 63.6142343872;
}
.wrapper_dots .scene .dot:nth-child(183) {
  --hue: 261.6479362391;
}
.wrapper_dots .scene .dot:nth-child(184) {
  --hue: 165.6907533336;
}
.wrapper_dots .scene .dot:nth-child(185) {
  --hue: 98.5813871929;
}
.wrapper_dots .scene .dot:nth-child(186) {
  --hue: 51.8764151955;
}
.wrapper_dots .scene .dot:nth-child(187) {
  --hue: 151.2970733626;
}
.wrapper_dots .scene .dot:nth-child(188) {
  --hue: 61.285315855;
}
.wrapper_dots .scene .dot:nth-child(189) {
  --hue: 128.5009795275;
}
.wrapper_dots .scene .dot:nth-child(190) {
  --hue: 60.6251281066;
}
.wrapper_dots .scene .dot:nth-child(191) {
  --hue: 81.7163125869;
}
.wrapper_dots .scene .dot:nth-child(192) {
  --hue: 212.6083525511;
}
.wrapper_dots .scene .dot:nth-child(193) {
  --hue: 12.7627866828;
}
.wrapper_dots .scene .dot:nth-child(194) {
  --hue: 73.8254232537;
}
.wrapper_dots .scene .dot:nth-child(195) {
  --hue: 271.4721087527;
}
.wrapper_dots .scene .dot:nth-child(196) {
  --hue: 271.9761617901;
}
.wrapper_dots .scene .dot:nth-child(197) {
  --hue: 219.42658673;
}
.wrapper_dots .scene .dot:nth-child(198) {
  --hue: 39.4464680265;
}
.wrapper_dots .scene .dot:nth-child(199) {
  --hue: 147.3912015531;
}
.wrapper_dots .scene .dot:nth-child(200) {
  --hue: 183.5155149088;
}
.wrapper_dots .scene .dot:nth-child(201) {
  --hue: 9.9973262476;
}
.wrapper_dots .scene .dot:nth-child(202) {
  --hue: 245.4747343913;
}
.wrapper_dots .scene .dot:nth-child(203) {
  --hue: 124.1342042872;
}
.wrapper_dots .scene .dot:nth-child(204) {
  --hue: 164.9101208632;
}
.wrapper_dots .scene .dot:nth-child(205) {
  --hue: 50.7053039276;
}
.wrapper_dots .scene .dot:nth-child(206) {
  --hue: 226.9212797167;
}
.wrapper_dots .scene .dot:nth-child(207) {
  --hue: 111.452198131;
}
.wrapper_dots .scene .dot:nth-child(208) {
  --hue: 171.6975047321;
}
.wrapper_dots .scene .dot:nth-child(209) {
  --hue: 4.9014857894;
}
.wrapper_dots .scene .dot:nth-child(210) {
  --hue: 61.5908809075;
}
.wrapper_dots .scene .dot:nth-child(211) {
  --hue: 77.3739236692;
}
.wrapper_dots .scene .dot:nth-child(212) {
  --hue: 139.4543247749;
}
.wrapper_dots .scene .dot:nth-child(213) {
  --hue: 0.9563363479;
}
.wrapper_dots .scene .dot:nth-child(214) {
  --hue: 199.3451364955;
}
.wrapper_dots .scene .dot:nth-child(215) {
  --hue: 56.8742673581;
}
.wrapper_dots .scene .dot:nth-child(216) {
  --hue: 105.4786027343;
}
.wrapper_dots .scene .dot:nth-child(217) {
  --hue: 222.0245017035;
}
.wrapper_dots .scene .dot:nth-child(218) {
  --hue: 159.4963599795;
}
.wrapper_dots .scene .dot:nth-child(219) {
  --hue: 233.1245583438;
}
.wrapper_dots .scene .dot:nth-child(220) {
  --hue: 76.3146766024;
}
.wrapper_dots .scene .dot:nth-child(221) {
  --hue: 238.4277691353;
}
.wrapper_dots .scene .dot:nth-child(222) {
  --hue: 269.2977104192;
}
.wrapper_dots .scene .dot:nth-child(223) {
  --hue: 220.1511931774;
}
.wrapper_dots .scene .dot:nth-child(224) {
  --hue: 64.6513414482;
}
.wrapper_dots .scene .dot:nth-child(225) {
  --hue: 248.7908078098;
}
.wrapper_dots .scene .dot:nth-child(226) {
  --hue: 27.0943538881;
}
.wrapper_dots .scene .dot:nth-child(227) {
  --hue: 214.691791064;
}
.wrapper_dots .scene .dot:nth-child(228) {
  --hue: 69.1925688189;
}
.wrapper_dots .scene .dot:nth-child(229) {
  --hue: 272.0115236664;
}
.wrapper_dots .scene .dot:nth-child(230) {
  --hue: 273.1629879614;
}
.wrapper_dots .scene .dot:nth-child(231) {
  --hue: 219.1202365129;
}
.wrapper_dots .scene .dot:nth-child(232) {
  --hue: 47.2009759087;
}
.wrapper_dots .scene .dot:nth-child(233) {
  --hue: 177.2140980208;
}
.wrapper_dots .scene .dot:nth-child(234) {
  --hue: 192.1295085707;
}
.wrapper_dots .scene .dot:nth-child(235) {
  --hue: 64.9126257194;
}
.wrapper_dots .scene .dot:nth-child(236) {
  --hue: 74.649280213;
}
.wrapper_dots .scene .dot:nth-child(237) {
  --hue: 64.8814624155;
}
.wrapper_dots .scene .dot:nth-child(238) {
  --hue: 234.8796180832;
}
.wrapper_dots .scene .dot:nth-child(239) {
  --hue: 183.6352246717;
}
.wrapper_dots .scene .dot:nth-child(240) {
  --hue: 261.3338302172;
}
.wrapper_dots .scene .dot:nth-child(241) {
  --hue: 199.2314835025;
}
.wrapper_dots .scene .dot:nth-child(242) {
  --hue: 30.5361292112;
}
.wrapper_dots .scene .dot:nth-child(243) {
  --hue: 290.3203993474;
}
.wrapper_dots .scene .dot:nth-child(244) {
  --hue: 151.5468468314;
}
.wrapper_dots .scene .dot:nth-child(245) {
  --hue: 156.3873926717;
}
.wrapper_dots .scene .dot:nth-child(246) {
  --hue: 48.0174788014;
}
.wrapper_dots .scene .dot:nth-child(247) {
  --hue: 269.799571098;
}
.wrapper_dots .scene .dot:nth-child(248) {
  --hue: 62.1663754452;
}
.wrapper_dots .scene .dot:nth-child(249) {
  --hue: 55.7888147317;
}
.wrapper_dots .scene .dot:nth-child(250) {
  --hue: 89.7454881468;
}
.wrapper_dots .scene .dot:nth-child(251) {
  --hue: 101.298936587;
}
.wrapper_dots .scene .dot:nth-child(252) {
  --hue: 251.711224316;
}
.wrapper_dots .scene .dot:nth-child(253) {
  --hue: 100.6365638869;
}
.wrapper_dots .scene .dot:nth-child(254) {
  --hue: 54.3347606539;
}
.wrapper_dots .scene .dot:nth-child(255) {
  --hue: 172.278709594;
}
.wrapper_dots .scene .dot:nth-child(256) {
  --hue: 71.293543623;
}
.wrapper_dots .scene .dot:nth-child(257) {
  --hue: 30.5681419143;
}
.wrapper_dots .scene .dot:nth-child(258) {
  --hue: 79.2083905439;
}
.wrapper_dots .scene .dot:nth-child(259) {
  --hue: 23.5524439066;
}
.wrapper_dots .scene .dot:nth-child(260) {
  --hue: 263.9853086655;
}
.wrapper_dots .scene .dot:nth-child(261) {
  --hue: 162.1455723138;
}
.wrapper_dots .scene .dot:nth-child(262) {
  --hue: 261.1829315854;
}
.wrapper_dots .scene .dot:nth-child(263) {
  --hue: 126.8575078462;
}
.wrapper_dots .scene .dot:nth-child(264) {
  --hue: 173.0984791264;
}
.wrapper_dots .scene .dot:nth-child(265) {
  --hue: 101.550771333;
}
.wrapper_dots .scene .dot:nth-child(266) {
  --hue: 194.0062250338;
}
.wrapper_dots .scene .dot:nth-child(267) {
  --hue: 275.7951621987;
}
.wrapper_dots .scene .dot:nth-child(268) {
  --hue: 136.6625076193;
}
.wrapper_dots .scene .dot:nth-child(269) {
  --hue: 259.1479720551;
}
.wrapper_dots .scene .dot:nth-child(270) {
  --hue: 76.5294223504;
}
.wrapper_dots .scene .dot:nth-child(271) {
  --hue: 151.4156114257;
}
.wrapper_dots .scene .dot:nth-child(272) {
  --hue: 179.9558485095;
}
.wrapper_dots .scene .dot:nth-child(273) {
  --hue: 275.7327824183;
}
.wrapper_dots .scene .dot:nth-child(274) {
  --hue: 75.3065835268;
}
.wrapper_dots .scene .dot:nth-child(275) {
  --hue: 146.2099548048;
}
.wrapper_dots .scene .dot:nth-child(276) {
  --hue: 137.5984468088;
}
.wrapper_dots .scene .dot:nth-child(277) {
  --hue: 152.8014997271;
}
.wrapper_dots .scene .dot:nth-child(278) {
  --hue: 167.3218253121;
}
.wrapper_dots .scene .dot:nth-child(279) {
  --hue: 109.605701497;
}
.wrapper_dots .scene .dot:nth-child(280) {
  --hue: 91.1228217822;
}
.wrapper_dots .scene .dot:nth-child(281) {
  --hue: 228.1401372214;
}
.wrapper_dots .scene .dot:nth-child(282) {
  --hue: 182.3470690572;
}
.wrapper_dots .scene .dot:nth-child(283) {
  --hue: 99.3146044884;
}
.wrapper_dots .scene .dot:nth-child(284) {
  --hue: 11.8451691103;
}
.wrapper_dots .scene .dot:nth-child(285) {
  --hue: 46.7581645407;
}
.wrapper_dots .scene .dot:nth-child(286) {
  --hue: 155.820088645;
}
.wrapper_dots .scene .dot:nth-child(287) {
  --hue: 1.922101158;
}
.wrapper_dots .scene .dot:nth-child(288) {
  --hue: 91.7062701524;
}
.wrapper_dots .scene .dot:nth-child(289) {
  --hue: 9.1351247349;
}
.wrapper_dots .scene .dot:nth-child(290) {
  --hue: 92.2414175651;
}
.wrapper_dots .scene .dot:nth-child(291) {
  --hue: 277.4004230184;
}
.wrapper_dots .scene .dot:nth-child(292) {
  --hue: 127.3123240057;
}
.wrapper_dots .scene .dot:nth-child(293) {
  --hue: 231.1738339812;
}
.wrapper_dots .scene .dot:nth-child(294) {
  --hue: 101.832069375;
}
.wrapper_dots .scene .dot:nth-child(295) {
  --hue: 72.8301271885;
}
.wrapper_dots .scene .dot:nth-child(296) {
  --hue: 143.6714339799;
}
.wrapper_dots .scene .dot:nth-child(297) {
  --hue: 240.934338444;
}
.wrapper_dots .scene .dot:nth-child(298) {
  --hue: 220.7926504814;
}
.wrapper_dots .scene .dot:nth-child(299) {
  --hue: 120.9558999619;
}
.wrapper_dots .scene .dot:nth-child(300) {
  --hue: 215.4334276445;
}
.wrapper_dots .scene .dot:nth-child(301) {
  --hue: 49.3474443922;
}
.wrapper_dots .scene .dot:nth-child(302) {
  --hue: 91.4026087125;
}
.wrapper_dots .scene .dot:nth-child(303) {
  --hue: 41.060223005;
}
.wrapper_dots .scene .dot:nth-child(304) {
  --hue: 237.9147669906;
}
.wrapper_dots .scene .dot:nth-child(305) {
  --hue: 56.1504917412;
}
.wrapper_dots .scene .dot:nth-child(306) {
  --hue: 288.6664522634;
}
.wrapper_dots .scene .dot:nth-child(307) {
  --hue: 6.3851003275;
}
.wrapper_dots .scene .dot:nth-child(308) {
  --hue: 168.3090531497;
}
.wrapper_dots .scene .dot:nth-child(309) {
  --hue: 23.1594251446;
}
.wrapper_dots .scene .dot:nth-child(310) {
  --hue: 189.0576177691;
}
.wrapper_dots .scene .dot:nth-child(311) {
  --hue: 88.447989277;
}
.wrapper_dots .scene .dot:nth-child(312) {
  --hue: 134.4883106229;
}
.wrapper_dots .scene .dot:nth-child(313) {
  --hue: 148.2415912746;
}
.wrapper_dots .scene .dot:nth-child(314) {
  --hue: 115.7401299178;
}
.wrapper_dots .scene .dot:nth-child(315) {
  --hue: 152.1593705178;
}
.wrapper_dots .scene .dot:nth-child(316) {
  --hue: 127.3154342446;
}
.wrapper_dots .scene .dot:nth-child(317) {
  --hue: 265.4675107958;
}
.wrapper_dots .scene .dot:nth-child(318) {
  --hue: 100.8484204486;
}
.wrapper_dots .scene .dot:nth-child(319) {
  --hue: 256.4663461871;
}
.wrapper_dots .scene .dot:nth-child(320) {
  --hue: 217.248260355;
}
.wrapper_dots .scene .dot:nth-child(321) {
  --hue: 241.5521000191;
}
.wrapper_dots .scene .dot:nth-child(322) {
  --hue: 247.732134833;
}
.wrapper_dots .scene .dot:nth-child(323) {
  --hue: 78.9547616708;
}
.wrapper_dots .scene .dot:nth-child(324) {
  --hue: 32.7074678599;
}
.wrapper_dots .scene .dot:nth-child(325) {
  --hue: 148.6259369268;
}
.wrapper_dots .scene .dot:nth-child(326) {
  --hue: 77.4829457723;
}
.wrapper_dots .scene .dot:nth-child(327) {
  --hue: 215.1164745443;
}
.wrapper_dots .scene .dot:nth-child(328) {
  --hue: 136.047257539;
}
.wrapper_dots .scene .dot:nth-child(329) {
  --hue: 100.2363277283;
}
.wrapper_dots .scene .dot:nth-child(330) {
  --hue: 31.7234683601;
}
.wrapper_dots .scene .dot:nth-child(331) {
  --hue: 145.0988367596;
}
.wrapper_dots .scene .dot:nth-child(332) {
  --hue: 265.5785850152;
}
.wrapper_dots .scene .dot:nth-child(333) {
  --hue: 146.2238635072;
}
.wrapper_dots .scene .dot:nth-child(334) {
  --hue: 153.7508024903;
}
.wrapper_dots .scene .dot:nth-child(335) {
  --hue: 185.9415678809;
}
.wrapper_dots .scene .dot:nth-child(336) {
  --hue: 131.6758296559;
}
.wrapper_dots .scene .dot:nth-child(337) {
  --hue: 21.2070132244;
}
.wrapper_dots .scene .dot:nth-child(338) {
  --hue: 144.804754225;
}
.wrapper_dots .scene .dot:nth-child(339) {
  --hue: 185.0081222756;
}
.wrapper_dots .scene .dot:nth-child(340) {
  --hue: 139.2744946036;
}
.wrapper_dots .scene .dot:nth-child(341) {
  --hue: 298.500448852;
}
.wrapper_dots .scene .dot:nth-child(342) {
  --hue: 195.0254117901;
}
.wrapper_dots .scene .dot:nth-child(343) {
  --hue: 142.0360381247;
}
.wrapper_dots .scene .dot:nth-child(344) {
  --hue: 253.7882228309;
}
.wrapper_dots .scene .dot:nth-child(345) {
  --hue: 62.3705899247;
}
.wrapper_dots .scene .dot:nth-child(346) {
  --hue: 111.4932114779;
}
.wrapper_dots .scene .dot:nth-child(347) {
  --hue: 245.4588152296;
}
.wrapper_dots .scene .dot:nth-child(348) {
  --hue: 156.9514236127;
}
.wrapper_dots .scene .dot:nth-child(349) {
  --hue: 35.353420899;
}
.wrapper_dots .scene .dot:nth-child(350) {
  --hue: 114.0403618327;
}
.wrapper_dots .scene .dot:nth-child(351) {
  --hue: 167.5437326584;
}
.wrapper_dots .scene .dot:nth-child(352) {
  --hue: 297.1428036704;
}
.wrapper_dots .scene .dot:nth-child(353) {
  --hue: 133.7996523607;
}
.wrapper_dots .scene .dot:nth-child(354) {
  --hue: 299.111030163;
}
.wrapper_dots .scene .dot:nth-child(355) {
  --hue: 34.6059512745;
}
.wrapper_dots .scene .dot:nth-child(356) {
  --hue: 101.2734241578;
}
.wrapper_dots .scene .dot:nth-child(357) {
  --hue: 183.6112407338;
}
.wrapper_dots .scene .dot:nth-child(358) {
  --hue: 111.5099901171;
}
.wrapper_dots .scene .dot:nth-child(359) {
  --hue: 59.5128617039;
}
.wrapper_dots .scene .dot:nth-child(360) {
  --hue: 136.6833976108;
}
.wrapper_dots .scene .dot:nth-child(361) {
  --hue: 257.1759367226;
}
.wrapper_dots .scene .dot:nth-child(362) {
  --hue: 1.8900736994;
}
.wrapper_dots .scene .dot:nth-child(363) {
  --hue: 35.4707380452;
}
.wrapper_dots .scene .dot:nth-child(364) {
  --hue: 295.3090992286;
}
.wrapper_dots .scene .dot:nth-child(365) {
  --hue: 81.9781756852;
}
.wrapper_dots .scene .dot:nth-child(366) {
  --hue: 8.9386838423;
}
.wrapper_dots .scene .dot:nth-child(367) {
  --hue: 210.8474378227;
}
.wrapper_dots .scene .dot:nth-child(368) {
  --hue: 236.4564966492;
}
.wrapper_dots .scene .dot:nth-child(369) {
  --hue: 271.8152704431;
}
.wrapper_dots .scene .dot:nth-child(370) {
  --hue: 121.9180781288;
}
.wrapper_dots .scene .dot:nth-child(371) {
  --hue: 116.8311900244;
}
.wrapper_dots .scene .dot:nth-child(372) {
  --hue: 61.9351399833;
}
.wrapper_dots .scene .dot:nth-child(373) {
  --hue: 220.0876363892;
}
.wrapper_dots .scene .dot:nth-child(374) {
  --hue: 26.1453377277;
}
.wrapper_dots .scene .dot:nth-child(375) {
  --hue: 198.5418035709;
}
.wrapper_dots .scene .dot:nth-child(376) {
  --hue: 26.3680660239;
}
.wrapper_dots .scene .dot:nth-child(377) {
  --hue: 75.663285382;
}
.wrapper_dots .scene .dot:nth-child(378) {
  --hue: 281.9746650872;
}
.wrapper_dots .scene .dot:nth-child(379) {
  --hue: 20.6558293025;
}
.wrapper_dots .scene .dot:nth-child(380) {
  --hue: 132.6243721469;
}
.wrapper_dots .scene .dot:nth-child(381) {
  --hue: 206.0964619748;
}
.wrapper_dots .scene .dot:nth-child(382) {
  --hue: 15.8084257574;
}
.wrapper_dots .scene .dot:nth-child(383) {
  --hue: 202.9279841094;
}
.wrapper_dots .scene .dot:nth-child(384) {
  --hue: 299.5756540697;
}
.wrapper_dots .scene .dot:nth-child(385) {
  --hue: 152.2625852483;
}
.wrapper_dots .scene .dot:nth-child(386) {
  --hue: 186.2907060753;
}
.wrapper_dots .scene .dot:nth-child(387) {
  --hue: 193.2650521863;
}
.wrapper_dots .scene .dot:nth-child(388) {
  --hue: 271.8822447882;
}
.wrapper_dots .scene .dot:nth-child(389) {
  --hue: 146.4884750144;
}
.wrapper_dots .scene .dot:nth-child(390) {
  --hue: 139.7344227802;
}
.wrapper_dots .scene .dot:nth-child(391) {
  --hue: 191.1526157221;
}
.wrapper_dots .scene .dot:nth-child(392) {
  --hue: 165.1372804527;
}
.wrapper_dots .scene .dot:nth-child(393) {
  --hue: 142.059852381;
}
.wrapper_dots .scene .dot:nth-child(394) {
  --hue: 285.0938347365;
}
.wrapper_dots .scene .dot:nth-child(395) {
  --hue: 82.6300977829;
}
.wrapper_dots .scene .dot:nth-child(396) {
  --hue: 155.4164623854;
}
.wrapper_dots .scene .dot:nth-child(397) {
  --hue: 282.6977009739;
}
.wrapper_dots .scene .dot:nth-child(398) {
  --hue: 121.3642494285;
}
.wrapper_dots .scene .dot:nth-child(399) {
  --hue: 130.673511252;
}
.wrapper_dots .scene .dot:nth-child(400) {
  --hue: 112.9237081299;
}
.wrapper_dots .scene .dot:nth-child(20n-0) {
  --delay: 0s;
}
.wrapper_dots .scene .dot:nth-child(n+0) {
  --delay_2: 0s;
}
.wrapper_dots .scene .dot:nth-child(20n-1) {
  --delay: 0.3s;
}
.wrapper_dots .scene .dot:nth-child(n+20) {
  --delay_2: -0.2s;
}
.wrapper_dots .scene .dot:nth-child(20n-2) {
  --delay: 0.6s;
}
.wrapper_dots .scene .dot:nth-child(n+40) {
  --delay_2: -0.4s;
}
.wrapper_dots .scene .dot:nth-child(20n-3) {
  --delay: 0.9s;
}
.wrapper_dots .scene .dot:nth-child(n+60) {
  --delay_2: -0.6s;
}
.wrapper_dots .scene .dot:nth-child(20n-4) {
  --delay: 1.2s;
}
.wrapper_dots .scene .dot:nth-child(n+80) {
  --delay_2: -0.8s;
}
.wrapper_dots .scene .dot:nth-child(20n-5) {
  --delay: 1.5s;
}
.wrapper_dots .scene .dot:nth-child(n+100) {
  --delay_2: -1s;
}
.wrapper_dots .scene .dot:nth-child(20n-6) {
  --delay: 1.8s;
}
.wrapper_dots .scene .dot:nth-child(n+120) {
  --delay_2: -1.2s;
}
.wrapper_dots .scene .dot:nth-child(20n-7) {
  --delay: 2.1s;
}
.wrapper_dots .scene .dot:nth-child(n+140) {
  --delay_2: -1.4s;
}
.wrapper_dots .scene .dot:nth-child(20n-8) {
  --delay: 2.4s;
}
.wrapper_dots .scene .dot:nth-child(n+160) {
  --delay_2: -1.6s;
}
.wrapper_dots .scene .dot:nth-child(20n-9) {
  --delay: 2.7s;
}
.wrapper_dots .scene .dot:nth-child(n+180) {
  --delay_2: -1.8s;
}
.wrapper_dots .scene .dot:nth-child(20n-10) {
  --delay: 3s;
}
.wrapper_dots .scene .dot:nth-child(n+200) {
  --delay_2: -2s;
}
.wrapper_dots .scene .dot:nth-child(20n-11) {
  --delay: 3.3s;
}
.wrapper_dots .scene .dot:nth-child(n+220) {
  --delay_2: -2.2s;
}
.wrapper_dots .scene .dot:nth-child(20n-12) {
  --delay: 3.6s;
}
.wrapper_dots .scene .dot:nth-child(n+240) {
  --delay_2: -2.4s;
}
.wrapper_dots .scene .dot:nth-child(20n-13) {
  --delay: 3.9s;
}
.wrapper_dots .scene .dot:nth-child(n+260) {
  --delay_2: -2.6s;
}
.wrapper_dots .scene .dot:nth-child(20n-14) {
  --delay: 4.2s;
}
.wrapper_dots .scene .dot:nth-child(n+280) {
  --delay_2: -2.8s;
}
.wrapper_dots .scene .dot:nth-child(20n-15) {
  --delay: 4.5s;
}
.wrapper_dots .scene .dot:nth-child(n+300) {
  --delay_2: -3s;
}
.wrapper_dots .scene .dot:nth-child(20n-16) {
  --delay: 4.8s;
}
.wrapper_dots .scene .dot:nth-child(n+320) {
  --delay_2: -3.2s;
}
.wrapper_dots .scene .dot:nth-child(20n-17) {
  --delay: 5.1s;
}
.wrapper_dots .scene .dot:nth-child(n+340) {
  --delay_2: -3.4s;
}
.wrapper_dots .scene .dot:nth-child(20n-18) {
  --delay: 5.4s;
}
.wrapper_dots .scene .dot:nth-child(n+360) {
  --delay_2: -3.6s;
}
.wrapper_dots .scene .dot:nth-child(20n-19) {
  --delay: 5.7s;
}
.wrapper_dots .scene .dot:nth-child(n+380) {
  --delay_2: -3.8s;
}
@-webkit-keyframes dots_move {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(30px) translateY(50px);
  }
}
@keyframes dots_move {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(30px) translateY(50px);
  }
}/*# sourceMappingURL=Dots.css.map */