.wrapper_hexamania {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;

  .hex {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 70%;
    left: 70%;
    z-index: var(--index);
    transform: scale(var(--scale)) translateY(var(--pos_y));
    transform-origin: left;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-color: hsl(var(--hue), 80%, 80%);
    animation: rotate_hexagon_madness 7s var(--delay) ease-in-out infinite;
    opacity: 0;
    @media screen and (max-width:850px) {
        left: 90%;
        width: 40px;
        height: 40px;
    }
    @media screen and (max-width:450px) {
        left: 100%;
        width: 40px;
        height: 40px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 90%;
      height: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgb(0, 0, 0);
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    }
  }
  
  @for $i from 0 to 60 {
    .hex:nth-child(#{$i}) {
      --hue: #{$i * 6};
      --index:#{$i};
      --scale:#{$i * 0.05};
      --pos_y:#{$i * - 0.5px};
      --pos_x:#{$i * - 0.8px};
      --delay:#{$i * 0.15s};
    }
  }
  
}
@keyframes rotate_hexagon_madness {
    0%,100%{
        transform: scale(var(--scale)) translateY(var(--pos_y)) translateX(calc(var(--pos_x) * 1.5)) rotateZ(360deg);
        opacity: 0.7;
    }
    33%{
        transform: scale(calc(var(--scale) * 1.6)) translateX(calc(var(--pos_x) * 2)) translateY(calc(var(--pos_y) * 2));
    }
}