.wrapper_hide_and_seek {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 11%,
    hsl(315deg 100% 27%) 22%,
    hsl(329deg 100% 36%) 33%,
    hsl(337deg 100% 43%) 44%,
    hsl(357deg 91% 59%) 56%,
    hsl(17deg 100% 59%) 67%,
    hsl(34deg 100% 53%) 78%,
    hsl(45deg 100% 50%) 89%,
    hsl(55deg 100% 50%) 100%
  );
  .scene {
    position: relative;
    width: 300px;
    height: 200px;
    .glass_wall {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(12.1px);
      -webkit-backdrop-filter: blur(12.1px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      z-index: 2;
    }
    .doge {
      position: absolute;
      background-image: url("../../../../img/HideAndSeek/doge.png");
      background-size: contain;
      width: 100px;
      height: 100px;
      top: -150px;
      left: 100px;
      z-index: 1;
      animation: doge_move 10s ease-in-out infinite;
    }
    .pepe {
      position: absolute;
      background-image: url("../../../../img/HideAndSeek/pepe.png");
      background-size: contain;
      width: 100px;
      height: 100px;
      top: 150px;
      left: 100px;
      z-index: 3;
      animation: pepe_move 10s ease-in-out infinite;
    }
    @media screen and (max-height:700px) {
      width: 150px;
      height: 150px;
      .doge{
        width: 50px;
        height: 50px;
        left: 50px;
        animation: doge_move_700 10s ease-in-out infinite;
      }
      .pepe{
        width: 50px;
        height: 50px;
        left: 50px;
        animation: pepe_move_700 10s ease-in-out infinite;
      }
    }
    @media screen and (max-height:450px) {
      width: 100px;
      height: 100px;
      .doge{
        width: 40px;
        height: 40px;
        left: 30px;
        animation: doge_move_450 10s ease-in-out infinite;
      }
      .pepe{
        width: 40px;
        height: 40px;
        left: 30px;
        animation: pepe_move_450 10s ease-in-out infinite;
      }
    }
  }
}
@keyframes pepe_move {
    0%{
      transform: rotateZ(0deg);
      top: 300px;
    }
    50%{top: -150px;}
    60%{z-index: 1;}
    75%{z-index: 1;}
    100%{
      top: 300px;
      z-index: 3;
      transform: rotateZ(360deg);
    }
  }
  @keyframes doge_move {
    0%{
      transform: rotateZ(0deg);
      top: -150px;
      z-index: 1;
    }
    50%{
      top: 300px;
      z-index: 1;
    }
    60%{z-index: 3;}
    70%{z-index: 3;}
    100%{
      top: -150px;
      z-index: 1;
      transform: rotateZ(360deg);
    }
  }
  @keyframes pepe_move_450 {
    0%{
      transform: rotateZ(0deg);
      top: 140px;
    }
    50%{top: -80px;}
    60%{z-index: 1;}
    75%{z-index: 1;}
    100%{
      top: 140px;
      z-index: 3;
      transform: rotateZ(360deg);
    }
  }
  @keyframes doge_move_450 {
    0%{
      transform: rotateZ(0deg);
      top: -80px;
      z-index: 1;
    }
    50%{
      top: 140px;
      z-index: 1;
}
    60%{z-index: 3;}
    70%{z-index: 3;}
    100%{
      top: -80px;
      z-index: 1;
      transform: rotateZ(360deg);
    }
  }
  @keyframes pepe_move_700 {
    0%{
      transform: rotateZ(0deg);
      top: 225px;
    }
    50%{top: -75px;}
    60%{z-index: 1;}
    75%{z-index: 1;}
    100%{
      top: 225px;
      z-index: 3;
      transform: rotateZ(360deg);
    }
  }
  @keyframes doge_move_700 {
    0%{
      transform: rotateZ(0deg);
      top: -75px;
      z-index: 1;
    }
    50%{
      top: 225px;
      z-index: 1;
}
    60%{z-index: 3;}
    70%{z-index: 3;}
    100%{
      top: -75px;
      z-index: 1;
      transform: rotateZ(360deg);
    }
  }

