.wrapper_partiialphoto{
    width: 100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    .scene{
        position: relative;
        width: 600px;
        height: 400px;
        display: grid;
        grid-template-columns: repeat(2,300px);
        grid-template-rows: repeat(2,200px);
        border: 10px #fff dashed;
        box-sizing: content-box;
        padding: 5px;
        .img{
            width: 100%;
            height: 100%;
            background-image: url("../../../../../assets/img/PartialPhoto/cat.png");
            transition: 2s;
        }
        .i_1{
            transform-origin: bottom left;
            transform: rotateZ(-30deg);
        }
        .i_2{
            transform-origin: top right;
            transform: rotateZ(-60deg);
            background-position-x:300px ;
        }
        .i_3{
            transform-origin: bottom right;
            transform: rotateZ(-60deg);
            background-position-y:200px ;
        }
        .i_4{
            transform-origin: bottom right;
            transform: rotateZ(-60deg);
            background-position-x:300px ;
            background-position-y:200px ;
        }
        &:hover{
            .i_1,.i_2,.i_3,.i_4{
                transform: none;
            }
        }
    }
}