.wrapper_circles {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper_circles .scene {
  position: relative;
  width: 600px;
  height: 600px;
  transform-style: preserve-3d;
  transform: rotateX(60deg);
}
.wrapper_circles .scene .circle {
  position: absolute;
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: 0 10px rgb(177, 170, 170), 0 10px rgb(177, 170, 170);
  -webkit-animation: moving-circle 3s ease-in-out infinite;
          animation: moving-circle 3s ease-in-out infinite;
}
.wrapper_circles .scene .circle:nth-last-of-type(1) {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.wrapper_circles .scene .circle:nth-last-of-type(2) {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.wrapper_circles .scene .circle:nth-last-of-type(3) {
  top: 75px;
  left: 75px;
  right: 75px;
  bottom: 75px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.wrapper_circles .scene .circle:nth-last-of-type(4) {
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.wrapper_circles .scene .circle:nth-last-of-type(5) {
  top: 125px;
  left: 125px;
  right: 125px;
  bottom: 125px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.wrapper_circles .scene .circle:nth-last-of-type(6) {
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.wrapper_circles .scene .circle:nth-last-of-type(7) {
  top: 175px;
  left: 175px;
  right: 175px;
  bottom: 175px;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.wrapper_circles .scene .circle:nth-last-of-type(8) {
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.wrapper_circles .scene .circle:nth-last-of-type(9) {
  top: 225px;
  left: 225px;
  right: 225px;
  bottom: 225px;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.wrapper_circles .scene .circle:nth-last-of-type(10) {
  top: 250px;
  left: 250px;
  right: 250px;
  bottom: 250px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.wrapper_circles .scene .circle:nth-last-of-type(11) {
  top: 275px;
  left: 275px;
  right: 275px;
  bottom: 275px;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
@media screen and (max-width: 900px) {
  .wrapper_circles .scene .circle:nth-last-of-type(1) {
    top: 12.5px;
    left: 12.5px;
    right: 12.5px;
    bottom: 12.5px;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .wrapper_circles .scene .circle:nth-last-of-type(2) {
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .wrapper_circles .scene .circle:nth-last-of-type(3) {
    top: 37.5px;
    left: 37.5px;
    right: 37.5px;
    bottom: 37.5px;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .wrapper_circles .scene .circle:nth-last-of-type(4) {
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .wrapper_circles .scene .circle:nth-last-of-type(5) {
    top: 62.5px;
    left: 62.5px;
    right: 62.5px;
    bottom: 62.5px;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .wrapper_circles .scene .circle:nth-last-of-type(6) {
    top: 75px;
    left: 75px;
    right: 75px;
    bottom: 75px;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .wrapper_circles .scene .circle:nth-last-of-type(7) {
    top: 87.5px;
    left: 87.5px;
    right: 87.5px;
    bottom: 87.5px;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .wrapper_circles .scene .circle:nth-last-of-type(8) {
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .wrapper_circles .scene .circle:nth-last-of-type(9) {
    top: 112.5px;
    left: 112.5px;
    right: 112.5px;
    bottom: 112.5px;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  .wrapper_circles .scene .circle:nth-last-of-type(10) {
    top: 125px;
    left: 125px;
    right: 125px;
    bottom: 125px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .wrapper_circles .scene .circle:nth-last-of-type(11) {
    top: 137.5px;
    left: 137.5px;
    right: 137.5px;
    bottom: 137.5px;
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
  }
}
@media screen and (max-width: 900px) {
  .wrapper_circles .scene {
    width: 300px;
    height: 300px;
  }
}
@-webkit-keyframes moving-circle {
  0%, 100% {
    transform: translateZ(-150px);
  }
  50% {
    transform: translateZ(150px);
  }
}
@keyframes moving-circle {
  0%, 100% {
    transform: translateZ(-150px);
  }
  50% {
    transform: translateZ(150px);
  }
}/*# sourceMappingURL=Circles.css.map */