.wrapper_text {
  display: grid;
  place-items: center;
  place-content: center;
  width: 100%;
  height: 100%;
  background: rgb(255, 189, 123);
  background: linear-gradient(
    45deg,
    rgba(255, 189, 123, 1) 0%,
    rgba(191, 161, 116, 1) 33%,
    rgba(214, 112, 112, 1) 66%,
    rgba(255, 80, 80, 1) 100%
  );
  perspective: 500px;
  .scene {
    width: 370px;
    transform-style: preserve-3d;
    animation: rotate_text 24s linear infinite;
    .item {
      position: absolute;
      width: 100%;
      transform: rotateX(var(--angle)) translateY(50px);
      &:before {
        content: "Hello world!";
        position: absolute;
        width: 100%;
        height: max-content;
        font-size: 70px;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px #000;
      }
    }
    @for $i from 0 to 20{
      .item:nth-child(#{$i + 1}){
        --angle:#{calc(360deg/20 * $i)};
      }
    }
  } 
}
@keyframes rotate_text{
  100%{
    transform: rotateX(-360deg);
  }
}
