*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
.App{
    width: 100%;
    min-height:100vh;
    display: flex;
    .content_wrapper{
        width: 100%;
        min-height: 100vh;
        position: relative;
        .mobile_menu_icon{
            box-sizing: initial;
            display: none;
            position: fixed;
            top: 30px;
            left: 15px;
            width: 30px;
            height: 5px;
            background-color: #fff;
            border: 1px solid #000;
            &:before{
                position: fixed;
                content: "";
                top: 20px;
                left: 15px;
                width: 30px;
                height: 5px;
                background-color: #fff;
                border: 1px solid #000;
            }
            &:after{
                position: fixed;
                content: "";
                top: 10px;
                left: 15px;
                width: 30px;
                height: 5px;
                background-color: #fff;
                border: 1px solid #000;
            }
            @media screen and (max-width:700px){
                display: block;
            }
        }
    }
    .content_wrapper.hide{
        @media screen and (max-width:700px){
            display: none;
        }
    }

}
  