.wrapper_planets {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at bottom, #000080 0, #000 100%);
  overflow: hidden;
}
.wrapper_planets .planets {
  position: relative;
  width: 100%;
  height: 100%;
}
.wrapper_planets .planets .planet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  z-index: var(--index);
  -webkit-animation: rotate_planet var(--timer) linear infinite;
          animation: rotate_planet var(--timer) linear infinite;
}
.wrapper_planets .planets .planet:nth-child(1) {
  --width: 90px;
  --height: 90px;
  --timer: 3s;
  --index: 9;
}
.wrapper_planets .planets .planet:nth-child(2) {
  --width: 180px;
  --height: 180px;
  --timer: 4s;
  --index: 8;
}
.wrapper_planets .planets .planet:nth-child(3) {
  --width: 270px;
  --height: 270px;
  --timer: 5s;
  --index: 7;
}
.wrapper_planets .planets .planet:nth-child(4) {
  --width: 360px;
  --height: 360px;
  --timer: 6s;
  --index: 6;
}
.wrapper_planets .planets .planet:nth-child(5) {
  --width: 450px;
  --height: 450px;
  --timer: 7s;
  --index: 5;
}
.wrapper_planets .planets .planet:nth-child(6) {
  --width: 540px;
  --height: 540px;
  --timer: 8s;
  --index: 4;
}
.wrapper_planets .planets .planet:nth-child(7) {
  --width: 630px;
  --height: 630px;
  --timer: 9s;
  --index: 3;
}
.wrapper_planets .planets .planet:nth-child(8) {
  --width: 720px;
  --height: 720px;
  --timer: 10s;
  --index: 2;
}
.wrapper_planets .planets .planet:nth-child(9) {
  --width: 810px;
  --height: 810px;
  --timer: 11s;
  --index: 1;
}
.wrapper_planets .planets .planet .sun {
  width: 100%;
  height: 100%;
}
.wrapper_planets .planets .planet .item {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 600px) {
  .wrapper_planets .planets .planet:nth-child(1) {
    --width: 60px;
    --height: 60px;
    --timer: 3s;
    --index: 9;
  }
  .wrapper_planets .planets .planet:nth-child(2) {
    --width: 120px;
    --height: 120px;
    --timer: 4s;
    --index: 8;
  }
  .wrapper_planets .planets .planet:nth-child(3) {
    --width: 180px;
    --height: 180px;
    --timer: 5s;
    --index: 7;
  }
  .wrapper_planets .planets .planet:nth-child(4) {
    --width: 240px;
    --height: 240px;
    --timer: 6s;
    --index: 6;
  }
  .wrapper_planets .planets .planet:nth-child(5) {
    --width: 300px;
    --height: 300px;
    --timer: 7s;
    --index: 5;
  }
  .wrapper_planets .planets .planet:nth-child(6) {
    --width: 360px;
    --height: 360px;
    --timer: 8s;
    --index: 4;
  }
  .wrapper_planets .planets .planet:nth-child(7) {
    --width: 420px;
    --height: 420px;
    --timer: 9s;
    --index: 3;
  }
  .wrapper_planets .planets .planet:nth-child(8) {
    --width: 480px;
    --height: 480px;
    --timer: 10s;
    --index: 2;
  }
  .wrapper_planets .planets .planet:nth-child(9) {
    --width: 540px;
    --height: 540px;
    --timer: 11s;
    --index: 1;
  }
  .wrapper_planets .planets .planet .item {
    width: 25px;
    height: 25px;
  }
}

@-webkit-keyframes rotate_planet {
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotate_planet {
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}/*# sourceMappingURL=Planets.css.map */