.wrapper_dots {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: grid;
  place-items: center;
}
.wrapper_dots .scene {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  place-items: center;
}
@media screen and (max-width: 450px) {
  .wrapper_dots .scene {
    grid-template-columns: repeat(20, 10px);
    grid-template-rows: repeat(20, 10px);
  }
}
.wrapper_dots .scene .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsl(var(--hue), 90%, 70%);
  -webkit-animation: dots_move 5s infinite ease-in-out;
          animation: dots_move 5s infinite ease-in-out;
  -webkit-animation-delay: calc(var(--delay_2) + var(--delay));
          animation-delay: calc(var(--delay_2) + var(--delay));
}
.wrapper_dots .scene .dot:nth-child(1) {
  --hue: 269.5279668016;
}
.wrapper_dots .scene .dot:nth-child(2) {
  --hue: 67.1432978113;
}
.wrapper_dots .scene .dot:nth-child(3) {
  --hue: 220.5432233252;
}
.wrapper_dots .scene .dot:nth-child(4) {
  --hue: 159.4027415609;
}
.wrapper_dots .scene .dot:nth-child(5) {
  --hue: 119.9360782815;
}
.wrapper_dots .scene .dot:nth-child(6) {
  --hue: 264.3301329671;
}
.wrapper_dots .scene .dot:nth-child(7) {
  --hue: 238.2920373172;
}
.wrapper_dots .scene .dot:nth-child(8) {
  --hue: 171.9976978131;
}
.wrapper_dots .scene .dot:nth-child(9) {
  --hue: 138.1527981475;
}
.wrapper_dots .scene .dot:nth-child(10) {
  --hue: 295.0459443493;
}
.wrapper_dots .scene .dot:nth-child(11) {
  --hue: 234.3828228338;
}
.wrapper_dots .scene .dot:nth-child(12) {
  --hue: 253.2876209804;
}
.wrapper_dots .scene .dot:nth-child(13) {
  --hue: 238.7570612471;
}
.wrapper_dots .scene .dot:nth-child(14) {
  --hue: 113.0417002133;
}
.wrapper_dots .scene .dot:nth-child(15) {
  --hue: 145.139464606;
}
.wrapper_dots .scene .dot:nth-child(16) {
  --hue: 181.448971074;
}
.wrapper_dots .scene .dot:nth-child(17) {
  --hue: 253.6468472014;
}
.wrapper_dots .scene .dot:nth-child(18) {
  --hue: 115.2502396483;
}
.wrapper_dots .scene .dot:nth-child(19) {
  --hue: 26.8929822741;
}
.wrapper_dots .scene .dot:nth-child(20) {
  --hue: 181.9078947417;
}
.wrapper_dots .scene .dot:nth-child(21) {
  --hue: 117.7532047237;
}
.wrapper_dots .scene .dot:nth-child(22) {
  --hue: 208.2689378954;
}
.wrapper_dots .scene .dot:nth-child(23) {
  --hue: 294.4606479543;
}
.wrapper_dots .scene .dot:nth-child(24) {
  --hue: 44.7966590906;
}
.wrapper_dots .scene .dot:nth-child(25) {
  --hue: 202.1793319379;
}
.wrapper_dots .scene .dot:nth-child(26) {
  --hue: 39.8344588479;
}
.wrapper_dots .scene .dot:nth-child(27) {
  --hue: 130.7741128085;
}
.wrapper_dots .scene .dot:nth-child(28) {
  --hue: 254.5014853072;
}
.wrapper_dots .scene .dot:nth-child(29) {
  --hue: 17.3132216526;
}
.wrapper_dots .scene .dot:nth-child(30) {
  --hue: 58.6892862017;
}
.wrapper_dots .scene .dot:nth-child(31) {
  --hue: 24.7182317795;
}
.wrapper_dots .scene .dot:nth-child(32) {
  --hue: 176.2526145464;
}
.wrapper_dots .scene .dot:nth-child(33) {
  --hue: 58.6879833997;
}
.wrapper_dots .scene .dot:nth-child(34) {
  --hue: 296.2711225215;
}
.wrapper_dots .scene .dot:nth-child(35) {
  --hue: 93.7781268736;
}
.wrapper_dots .scene .dot:nth-child(36) {
  --hue: 114.5066918344;
}
.wrapper_dots .scene .dot:nth-child(37) {
  --hue: 213.0522921131;
}
.wrapper_dots .scene .dot:nth-child(38) {
  --hue: 254.4482060901;
}
.wrapper_dots .scene .dot:nth-child(39) {
  --hue: 83.976767616;
}
.wrapper_dots .scene .dot:nth-child(40) {
  --hue: 196.5612591233;
}
.wrapper_dots .scene .dot:nth-child(41) {
  --hue: 123.5551974673;
}
.wrapper_dots .scene .dot:nth-child(42) {
  --hue: 116.0034443114;
}
.wrapper_dots .scene .dot:nth-child(43) {
  --hue: 138.687203307;
}
.wrapper_dots .scene .dot:nth-child(44) {
  --hue: 241.2999603548;
}
.wrapper_dots .scene .dot:nth-child(45) {
  --hue: 10.3194748731;
}
.wrapper_dots .scene .dot:nth-child(46) {
  --hue: 239.7630045389;
}
.wrapper_dots .scene .dot:nth-child(47) {
  --hue: 128.1139552511;
}
.wrapper_dots .scene .dot:nth-child(48) {
  --hue: 70.4987435773;
}
.wrapper_dots .scene .dot:nth-child(49) {
  --hue: 4.9836034521;
}
.wrapper_dots .scene .dot:nth-child(50) {
  --hue: 187.1005552298;
}
.wrapper_dots .scene .dot:nth-child(51) {
  --hue: 268.9210333325;
}
.wrapper_dots .scene .dot:nth-child(52) {
  --hue: 119.6313427455;
}
.wrapper_dots .scene .dot:nth-child(53) {
  --hue: 269.7312592405;
}
.wrapper_dots .scene .dot:nth-child(54) {
  --hue: 11.2176132588;
}
.wrapper_dots .scene .dot:nth-child(55) {
  --hue: 202.7606594782;
}
.wrapper_dots .scene .dot:nth-child(56) {
  --hue: 52.2979161741;
}
.wrapper_dots .scene .dot:nth-child(57) {
  --hue: 156.6890699684;
}
.wrapper_dots .scene .dot:nth-child(58) {
  --hue: 211.2174062882;
}
.wrapper_dots .scene .dot:nth-child(59) {
  --hue: 28.1347427472;
}
.wrapper_dots .scene .dot:nth-child(60) {
  --hue: 106.1985878719;
}
.wrapper_dots .scene .dot:nth-child(61) {
  --hue: 270.8377701625;
}
.wrapper_dots .scene .dot:nth-child(62) {
  --hue: 253.5922076236;
}
.wrapper_dots .scene .dot:nth-child(63) {
  --hue: 146.1794609198;
}
.wrapper_dots .scene .dot:nth-child(64) {
  --hue: 194.7191152713;
}
.wrapper_dots .scene .dot:nth-child(65) {
  --hue: 171.3525651567;
}
.wrapper_dots .scene .dot:nth-child(66) {
  --hue: 4.9240281649;
}
.wrapper_dots .scene .dot:nth-child(67) {
  --hue: 50.003912202;
}
.wrapper_dots .scene .dot:nth-child(68) {
  --hue: 75.7740735393;
}
.wrapper_dots .scene .dot:nth-child(69) {
  --hue: 245.6256019084;
}
.wrapper_dots .scene .dot:nth-child(70) {
  --hue: 134.1211091943;
}
.wrapper_dots .scene .dot:nth-child(71) {
  --hue: 269.6071812974;
}
.wrapper_dots .scene .dot:nth-child(72) {
  --hue: 16.2546756982;
}
.wrapper_dots .scene .dot:nth-child(73) {
  --hue: 258.5724566243;
}
.wrapper_dots .scene .dot:nth-child(74) {
  --hue: 274.7323391145;
}
.wrapper_dots .scene .dot:nth-child(75) {
  --hue: 77.0867767781;
}
.wrapper_dots .scene .dot:nth-child(76) {
  --hue: 231.87645069;
}
.wrapper_dots .scene .dot:nth-child(77) {
  --hue: 31.6049900157;
}
.wrapper_dots .scene .dot:nth-child(78) {
  --hue: 280.0450993674;
}
.wrapper_dots .scene .dot:nth-child(79) {
  --hue: 299.0452101142;
}
.wrapper_dots .scene .dot:nth-child(80) {
  --hue: 20.4723499005;
}
.wrapper_dots .scene .dot:nth-child(81) {
  --hue: 275.7034218251;
}
.wrapper_dots .scene .dot:nth-child(82) {
  --hue: 231.3615983146;
}
.wrapper_dots .scene .dot:nth-child(83) {
  --hue: 224.8690869705;
}
.wrapper_dots .scene .dot:nth-child(84) {
  --hue: 269.0746258342;
}
.wrapper_dots .scene .dot:nth-child(85) {
  --hue: 36.8665117373;
}
.wrapper_dots .scene .dot:nth-child(86) {
  --hue: 275.0680977025;
}
.wrapper_dots .scene .dot:nth-child(87) {
  --hue: 187.0054211335;
}
.wrapper_dots .scene .dot:nth-child(88) {
  --hue: 211.7741260331;
}
.wrapper_dots .scene .dot:nth-child(89) {
  --hue: 74.815024382;
}
.wrapper_dots .scene .dot:nth-child(90) {
  --hue: 58.6758176524;
}
.wrapper_dots .scene .dot:nth-child(91) {
  --hue: 122.4107960699;
}
.wrapper_dots .scene .dot:nth-child(92) {
  --hue: 176.279044832;
}
.wrapper_dots .scene .dot:nth-child(93) {
  --hue: 73.1771671038;
}
.wrapper_dots .scene .dot:nth-child(94) {
  --hue: 225.6000346107;
}
.wrapper_dots .scene .dot:nth-child(95) {
  --hue: 235.3924367683;
}
.wrapper_dots .scene .dot:nth-child(96) {
  --hue: 261.9379306124;
}
.wrapper_dots .scene .dot:nth-child(97) {
  --hue: 257.2098485027;
}
.wrapper_dots .scene .dot:nth-child(98) {
  --hue: 255.3820310708;
}
.wrapper_dots .scene .dot:nth-child(99) {
  --hue: 105.7715712173;
}
.wrapper_dots .scene .dot:nth-child(100) {
  --hue: 168.2857843149;
}
.wrapper_dots .scene .dot:nth-child(101) {
  --hue: 75.468005598;
}
.wrapper_dots .scene .dot:nth-child(102) {
  --hue: 51.8870861603;
}
.wrapper_dots .scene .dot:nth-child(103) {
  --hue: 86.0881700758;
}
.wrapper_dots .scene .dot:nth-child(104) {
  --hue: 290.2843086922;
}
.wrapper_dots .scene .dot:nth-child(105) {
  --hue: 82.9524289593;
}
.wrapper_dots .scene .dot:nth-child(106) {
  --hue: 2.257943843;
}
.wrapper_dots .scene .dot:nth-child(107) {
  --hue: 228.0445064291;
}
.wrapper_dots .scene .dot:nth-child(108) {
  --hue: 251.0656930522;
}
.wrapper_dots .scene .dot:nth-child(109) {
  --hue: 294.1296747919;
}
.wrapper_dots .scene .dot:nth-child(110) {
  --hue: 198.4859772085;
}
.wrapper_dots .scene .dot:nth-child(111) {
  --hue: 109.4841430125;
}
.wrapper_dots .scene .dot:nth-child(112) {
  --hue: 106.1624655943;
}
.wrapper_dots .scene .dot:nth-child(113) {
  --hue: 70.0204728429;
}
.wrapper_dots .scene .dot:nth-child(114) {
  --hue: 233.4172014243;
}
.wrapper_dots .scene .dot:nth-child(115) {
  --hue: 207.9307395159;
}
.wrapper_dots .scene .dot:nth-child(116) {
  --hue: 33.8241352388;
}
.wrapper_dots .scene .dot:nth-child(117) {
  --hue: 291.8335347782;
}
.wrapper_dots .scene .dot:nth-child(118) {
  --hue: 54.2389995929;
}
.wrapper_dots .scene .dot:nth-child(119) {
  --hue: 267.5964479364;
}
.wrapper_dots .scene .dot:nth-child(120) {
  --hue: 177.416573778;
}
.wrapper_dots .scene .dot:nth-child(121) {
  --hue: 19.6129094572;
}
.wrapper_dots .scene .dot:nth-child(122) {
  --hue: 22.2174945603;
}
.wrapper_dots .scene .dot:nth-child(123) {
  --hue: 260.4053623358;
}
.wrapper_dots .scene .dot:nth-child(124) {
  --hue: 286.3527706075;
}
.wrapper_dots .scene .dot:nth-child(125) {
  --hue: 283.3403107971;
}
.wrapper_dots .scene .dot:nth-child(126) {
  --hue: 133.8077372602;
}
.wrapper_dots .scene .dot:nth-child(127) {
  --hue: 29.5853047886;
}
.wrapper_dots .scene .dot:nth-child(128) {
  --hue: 184.4205335969;
}
.wrapper_dots .scene .dot:nth-child(129) {
  --hue: 66.498792438;
}
.wrapper_dots .scene .dot:nth-child(130) {
  --hue: 295.6775509283;
}
.wrapper_dots .scene .dot:nth-child(131) {
  --hue: 274.0221793181;
}
.wrapper_dots .scene .dot:nth-child(132) {
  --hue: 209.4611846729;
}
.wrapper_dots .scene .dot:nth-child(133) {
  --hue: 253.5509551096;
}
.wrapper_dots .scene .dot:nth-child(134) {
  --hue: 103.5055531003;
}
.wrapper_dots .scene .dot:nth-child(135) {
  --hue: 7.1272708406;
}
.wrapper_dots .scene .dot:nth-child(136) {
  --hue: 219.3112649964;
}
.wrapper_dots .scene .dot:nth-child(137) {
  --hue: 159.4518809596;
}
.wrapper_dots .scene .dot:nth-child(138) {
  --hue: 178.7453730332;
}
.wrapper_dots .scene .dot:nth-child(139) {
  --hue: 192.0461879376;
}
.wrapper_dots .scene .dot:nth-child(140) {
  --hue: 63.0226258085;
}
.wrapper_dots .scene .dot:nth-child(141) {
  --hue: 0.618039024;
}
.wrapper_dots .scene .dot:nth-child(142) {
  --hue: 20.2828835093;
}
.wrapper_dots .scene .dot:nth-child(143) {
  --hue: 276.8036663296;
}
.wrapper_dots .scene .dot:nth-child(144) {
  --hue: 120.5143268339;
}
.wrapper_dots .scene .dot:nth-child(145) {
  --hue: 139.6480205628;
}
.wrapper_dots .scene .dot:nth-child(146) {
  --hue: 66.6565740612;
}
.wrapper_dots .scene .dot:nth-child(147) {
  --hue: 66.4185769754;
}
.wrapper_dots .scene .dot:nth-child(148) {
  --hue: 295.509691809;
}
.wrapper_dots .scene .dot:nth-child(149) {
  --hue: 23.377590546;
}
.wrapper_dots .scene .dot:nth-child(150) {
  --hue: 69.5072634493;
}
.wrapper_dots .scene .dot:nth-child(151) {
  --hue: 115.638580022;
}
.wrapper_dots .scene .dot:nth-child(152) {
  --hue: 43.137721835;
}
.wrapper_dots .scene .dot:nth-child(153) {
  --hue: 115.1913798937;
}
.wrapper_dots .scene .dot:nth-child(154) {
  --hue: 151.3576494182;
}
.wrapper_dots .scene .dot:nth-child(155) {
  --hue: 235.9359053492;
}
.wrapper_dots .scene .dot:nth-child(156) {
  --hue: 193.8099387491;
}
.wrapper_dots .scene .dot:nth-child(157) {
  --hue: 71.5509901281;
}
.wrapper_dots .scene .dot:nth-child(158) {
  --hue: 257.9241728773;
}
.wrapper_dots .scene .dot:nth-child(159) {
  --hue: 139.5039907416;
}
.wrapper_dots .scene .dot:nth-child(160) {
  --hue: 9.5492832148;
}
.wrapper_dots .scene .dot:nth-child(161) {
  --hue: 140.4967756989;
}
.wrapper_dots .scene .dot:nth-child(162) {
  --hue: 285.3170500207;
}
.wrapper_dots .scene .dot:nth-child(163) {
  --hue: 11.0592628625;
}
.wrapper_dots .scene .dot:nth-child(164) {
  --hue: 139.8194711983;
}
.wrapper_dots .scene .dot:nth-child(165) {
  --hue: 21.7609012706;
}
.wrapper_dots .scene .dot:nth-child(166) {
  --hue: 249.5225094078;
}
.wrapper_dots .scene .dot:nth-child(167) {
  --hue: 90.3875320712;
}
.wrapper_dots .scene .dot:nth-child(168) {
  --hue: 151.7152779252;
}
.wrapper_dots .scene .dot:nth-child(169) {
  --hue: 73.8734187294;
}
.wrapper_dots .scene .dot:nth-child(170) {
  --hue: 47.7491772075;
}
.wrapper_dots .scene .dot:nth-child(171) {
  --hue: 158.9447151126;
}
.wrapper_dots .scene .dot:nth-child(172) {
  --hue: 24.161003111;
}
.wrapper_dots .scene .dot:nth-child(173) {
  --hue: 34.9449830471;
}
.wrapper_dots .scene .dot:nth-child(174) {
  --hue: 229.8132726459;
}
.wrapper_dots .scene .dot:nth-child(175) {
  --hue: 105.7181119064;
}
.wrapper_dots .scene .dot:nth-child(176) {
  --hue: 29.5558477545;
}
.wrapper_dots .scene .dot:nth-child(177) {
  --hue: 187.9201664073;
}
.wrapper_dots .scene .dot:nth-child(178) {
  --hue: 215.6221851185;
}
.wrapper_dots .scene .dot:nth-child(179) {
  --hue: 168.4225514211;
}
.wrapper_dots .scene .dot:nth-child(180) {
  --hue: 250.3770507923;
}
.wrapper_dots .scene .dot:nth-child(181) {
  --hue: 92.1385006219;
}
.wrapper_dots .scene .dot:nth-child(182) {
  --hue: 187.965387468;
}
.wrapper_dots .scene .dot:nth-child(183) {
  --hue: 184.5971962654;
}
.wrapper_dots .scene .dot:nth-child(184) {
  --hue: 223.9399125956;
}
.wrapper_dots .scene .dot:nth-child(185) {
  --hue: 153.8422078793;
}
.wrapper_dots .scene .dot:nth-child(186) {
  --hue: 183.6287946565;
}
.wrapper_dots .scene .dot:nth-child(187) {
  --hue: 59.6224539243;
}
.wrapper_dots .scene .dot:nth-child(188) {
  --hue: 217.0323241598;
}
.wrapper_dots .scene .dot:nth-child(189) {
  --hue: 274.7067772503;
}
.wrapper_dots .scene .dot:nth-child(190) {
  --hue: 59.6724462513;
}
.wrapper_dots .scene .dot:nth-child(191) {
  --hue: 45.0486553723;
}
.wrapper_dots .scene .dot:nth-child(192) {
  --hue: 93.6130985865;
}
.wrapper_dots .scene .dot:nth-child(193) {
  --hue: 224.5837641021;
}
.wrapper_dots .scene .dot:nth-child(194) {
  --hue: 39.1283995796;
}
.wrapper_dots .scene .dot:nth-child(195) {
  --hue: 237.7004028471;
}
.wrapper_dots .scene .dot:nth-child(196) {
  --hue: 246.9803678035;
}
.wrapper_dots .scene .dot:nth-child(197) {
  --hue: 198.5396053312;
}
.wrapper_dots .scene .dot:nth-child(198) {
  --hue: 167.6098434557;
}
.wrapper_dots .scene .dot:nth-child(199) {
  --hue: 59.412281995;
}
.wrapper_dots .scene .dot:nth-child(200) {
  --hue: 87.0674001804;
}
.wrapper_dots .scene .dot:nth-child(201) {
  --hue: 281.9336681363;
}
.wrapper_dots .scene .dot:nth-child(202) {
  --hue: 27.1119715813;
}
.wrapper_dots .scene .dot:nth-child(203) {
  --hue: 252.1944831579;
}
.wrapper_dots .scene .dot:nth-child(204) {
  --hue: 297.3667192703;
}
.wrapper_dots .scene .dot:nth-child(205) {
  --hue: 257.8748604892;
}
.wrapper_dots .scene .dot:nth-child(206) {
  --hue: 293.4482674338;
}
.wrapper_dots .scene .dot:nth-child(207) {
  --hue: 142.5808975004;
}
.wrapper_dots .scene .dot:nth-child(208) {
  --hue: 275.9404508208;
}
.wrapper_dots .scene .dot:nth-child(209) {
  --hue: 90.9854964831;
}
.wrapper_dots .scene .dot:nth-child(210) {
  --hue: 68.4811810962;
}
.wrapper_dots .scene .dot:nth-child(211) {
  --hue: 104.5669263829;
}
.wrapper_dots .scene .dot:nth-child(212) {
  --hue: 236.9343742516;
}
.wrapper_dots .scene .dot:nth-child(213) {
  --hue: 138.8673206788;
}
.wrapper_dots .scene .dot:nth-child(214) {
  --hue: 264.2990511667;
}
.wrapper_dots .scene .dot:nth-child(215) {
  --hue: 150.3583217845;
}
.wrapper_dots .scene .dot:nth-child(216) {
  --hue: 3.4397536573;
}
.wrapper_dots .scene .dot:nth-child(217) {
  --hue: 250.1460670225;
}
.wrapper_dots .scene .dot:nth-child(218) {
  --hue: 163.2289834681;
}
.wrapper_dots .scene .dot:nth-child(219) {
  --hue: 275.8644356028;
}
.wrapper_dots .scene .dot:nth-child(220) {
  --hue: 210.7302729727;
}
.wrapper_dots .scene .dot:nth-child(221) {
  --hue: 162.9683039395;
}
.wrapper_dots .scene .dot:nth-child(222) {
  --hue: 171.1476474106;
}
.wrapper_dots .scene .dot:nth-child(223) {
  --hue: 136.4045115795;
}
.wrapper_dots .scene .dot:nth-child(224) {
  --hue: 6.7149818639;
}
.wrapper_dots .scene .dot:nth-child(225) {
  --hue: 180.2415766935;
}
.wrapper_dots .scene .dot:nth-child(226) {
  --hue: 299.08435151;
}
.wrapper_dots .scene .dot:nth-child(227) {
  --hue: 119.7773841038;
}
.wrapper_dots .scene .dot:nth-child(228) {
  --hue: 112.4931689038;
}
.wrapper_dots .scene .dot:nth-child(229) {
  --hue: 120.807595057;
}
.wrapper_dots .scene .dot:nth-child(230) {
  --hue: 211.824103144;
}
.wrapper_dots .scene .dot:nth-child(231) {
  --hue: 165.411090263;
}
.wrapper_dots .scene .dot:nth-child(232) {
  --hue: 100.4313139349;
}
.wrapper_dots .scene .dot:nth-child(233) {
  --hue: 225.2130598323;
}
.wrapper_dots .scene .dot:nth-child(234) {
  --hue: 191.9667652522;
}
.wrapper_dots .scene .dot:nth-child(235) {
  --hue: 24.9992578019;
}
.wrapper_dots .scene .dot:nth-child(236) {
  --hue: 117.7206932246;
}
.wrapper_dots .scene .dot:nth-child(237) {
  --hue: 32.8475061222;
}
.wrapper_dots .scene .dot:nth-child(238) {
  --hue: 211.9271259491;
}
.wrapper_dots .scene .dot:nth-child(239) {
  --hue: 170.1663099613;
}
.wrapper_dots .scene .dot:nth-child(240) {
  --hue: 268.2275493411;
}
.wrapper_dots .scene .dot:nth-child(241) {
  --hue: 145.5010872878;
}
.wrapper_dots .scene .dot:nth-child(242) {
  --hue: 262.1424247705;
}
.wrapper_dots .scene .dot:nth-child(243) {
  --hue: 75.1102180673;
}
.wrapper_dots .scene .dot:nth-child(244) {
  --hue: 251.932357937;
}
.wrapper_dots .scene .dot:nth-child(245) {
  --hue: 129.6955174887;
}
.wrapper_dots .scene .dot:nth-child(246) {
  --hue: 116.3654971611;
}
.wrapper_dots .scene .dot:nth-child(247) {
  --hue: 13.6768395532;
}
.wrapper_dots .scene .dot:nth-child(248) {
  --hue: 213.3178445126;
}
.wrapper_dots .scene .dot:nth-child(249) {
  --hue: 63.1339649619;
}
.wrapper_dots .scene .dot:nth-child(250) {
  --hue: 64.7817519985;
}
.wrapper_dots .scene .dot:nth-child(251) {
  --hue: 160.1791227161;
}
.wrapper_dots .scene .dot:nth-child(252) {
  --hue: 163.1811084101;
}
.wrapper_dots .scene .dot:nth-child(253) {
  --hue: 168.7753399804;
}
.wrapper_dots .scene .dot:nth-child(254) {
  --hue: 63.8931509312;
}
.wrapper_dots .scene .dot:nth-child(255) {
  --hue: 61.3626095408;
}
.wrapper_dots .scene .dot:nth-child(256) {
  --hue: 196.1240202267;
}
.wrapper_dots .scene .dot:nth-child(257) {
  --hue: 191.3997376796;
}
.wrapper_dots .scene .dot:nth-child(258) {
  --hue: 33.1607650299;
}
.wrapper_dots .scene .dot:nth-child(259) {
  --hue: 46.4821280474;
}
.wrapper_dots .scene .dot:nth-child(260) {
  --hue: 102.30517244;
}
.wrapper_dots .scene .dot:nth-child(261) {
  --hue: 287.7652253763;
}
.wrapper_dots .scene .dot:nth-child(262) {
  --hue: 63.0871124371;
}
.wrapper_dots .scene .dot:nth-child(263) {
  --hue: 158.5801449023;
}
.wrapper_dots .scene .dot:nth-child(264) {
  --hue: 174.4054437057;
}
.wrapper_dots .scene .dot:nth-child(265) {
  --hue: 41.7833221772;
}
.wrapper_dots .scene .dot:nth-child(266) {
  --hue: 49.9291034053;
}
.wrapper_dots .scene .dot:nth-child(267) {
  --hue: 75.5125435489;
}
.wrapper_dots .scene .dot:nth-child(268) {
  --hue: 142.8501014699;
}
.wrapper_dots .scene .dot:nth-child(269) {
  --hue: 21.8899310305;
}
.wrapper_dots .scene .dot:nth-child(270) {
  --hue: 275.2533188626;
}
.wrapper_dots .scene .dot:nth-child(271) {
  --hue: 149.7590843247;
}
.wrapper_dots .scene .dot:nth-child(272) {
  --hue: 48.1141256581;
}
.wrapper_dots .scene .dot:nth-child(273) {
  --hue: 188.8135389811;
}
.wrapper_dots .scene .dot:nth-child(274) {
  --hue: 140.2724526049;
}
.wrapper_dots .scene .dot:nth-child(275) {
  --hue: 48.2030931435;
}
.wrapper_dots .scene .dot:nth-child(276) {
  --hue: 130.4105745868;
}
.wrapper_dots .scene .dot:nth-child(277) {
  --hue: 53.8114939765;
}
.wrapper_dots .scene .dot:nth-child(278) {
  --hue: 8.3186178649;
}
.wrapper_dots .scene .dot:nth-child(279) {
  --hue: 16.9689615533;
}
.wrapper_dots .scene .dot:nth-child(280) {
  --hue: 284.8416529924;
}
.wrapper_dots .scene .dot:nth-child(281) {
  --hue: 37.8076204743;
}
.wrapper_dots .scene .dot:nth-child(282) {
  --hue: 33.2712887613;
}
.wrapper_dots .scene .dot:nth-child(283) {
  --hue: 271.5701879504;
}
.wrapper_dots .scene .dot:nth-child(284) {
  --hue: 234.3618616441;
}
.wrapper_dots .scene .dot:nth-child(285) {
  --hue: 269.0709195033;
}
.wrapper_dots .scene .dot:nth-child(286) {
  --hue: 243.8194334749;
}
.wrapper_dots .scene .dot:nth-child(287) {
  --hue: 230.2775444824;
}
.wrapper_dots .scene .dot:nth-child(288) {
  --hue: 106.4352761451;
}
.wrapper_dots .scene .dot:nth-child(289) {
  --hue: 154.9978007485;
}
.wrapper_dots .scene .dot:nth-child(290) {
  --hue: 183.7443144422;
}
.wrapper_dots .scene .dot:nth-child(291) {
  --hue: 123.0309242051;
}
.wrapper_dots .scene .dot:nth-child(292) {
  --hue: 94.3517416491;
}
.wrapper_dots .scene .dot:nth-child(293) {
  --hue: 289.2743509721;
}
.wrapper_dots .scene .dot:nth-child(294) {
  --hue: 10.5972650587;
}
.wrapper_dots .scene .dot:nth-child(295) {
  --hue: 139.1129778358;
}
.wrapper_dots .scene .dot:nth-child(296) {
  --hue: 244.9126375195;
}
.wrapper_dots .scene .dot:nth-child(297) {
  --hue: 199.9996263773;
}
.wrapper_dots .scene .dot:nth-child(298) {
  --hue: 21.6977626415;
}
.wrapper_dots .scene .dot:nth-child(299) {
  --hue: 104.8868304677;
}
.wrapper_dots .scene .dot:nth-child(300) {
  --hue: 0.1438840657;
}
.wrapper_dots .scene .dot:nth-child(301) {
  --hue: 145.9484447107;
}
.wrapper_dots .scene .dot:nth-child(302) {
  --hue: 236.3349251437;
}
.wrapper_dots .scene .dot:nth-child(303) {
  --hue: 146.2464580482;
}
.wrapper_dots .scene .dot:nth-child(304) {
  --hue: 174.9362283051;
}
.wrapper_dots .scene .dot:nth-child(305) {
  --hue: 172.0625318909;
}
.wrapper_dots .scene .dot:nth-child(306) {
  --hue: 3.0581133301;
}
.wrapper_dots .scene .dot:nth-child(307) {
  --hue: 197.9527037575;
}
.wrapper_dots .scene .dot:nth-child(308) {
  --hue: 299.8058462535;
}
.wrapper_dots .scene .dot:nth-child(309) {
  --hue: 245.0609844933;
}
.wrapper_dots .scene .dot:nth-child(310) {
  --hue: 183.2022700529;
}
.wrapper_dots .scene .dot:nth-child(311) {
  --hue: 292.5146597696;
}
.wrapper_dots .scene .dot:nth-child(312) {
  --hue: 26.5843946921;
}
.wrapper_dots .scene .dot:nth-child(313) {
  --hue: 58.6833893158;
}
.wrapper_dots .scene .dot:nth-child(314) {
  --hue: 295.4680518494;
}
.wrapper_dots .scene .dot:nth-child(315) {
  --hue: 99.9195901678;
}
.wrapper_dots .scene .dot:nth-child(316) {
  --hue: 118.3168145169;
}
.wrapper_dots .scene .dot:nth-child(317) {
  --hue: 171.9626023176;
}
.wrapper_dots .scene .dot:nth-child(318) {
  --hue: 34.5781057329;
}
.wrapper_dots .scene .dot:nth-child(319) {
  --hue: 272.6108978046;
}
.wrapper_dots .scene .dot:nth-child(320) {
  --hue: 212.1373808884;
}
.wrapper_dots .scene .dot:nth-child(321) {
  --hue: 133.459613791;
}
.wrapper_dots .scene .dot:nth-child(322) {
  --hue: 271.9074610228;
}
.wrapper_dots .scene .dot:nth-child(323) {
  --hue: 36.8655397286;
}
.wrapper_dots .scene .dot:nth-child(324) {
  --hue: 277.6534886651;
}
.wrapper_dots .scene .dot:nth-child(325) {
  --hue: 171.0155630014;
}
.wrapper_dots .scene .dot:nth-child(326) {
  --hue: 87.4782513421;
}
.wrapper_dots .scene .dot:nth-child(327) {
  --hue: 296.9804987843;
}
.wrapper_dots .scene .dot:nth-child(328) {
  --hue: 216.2275044406;
}
.wrapper_dots .scene .dot:nth-child(329) {
  --hue: 235.8221319018;
}
.wrapper_dots .scene .dot:nth-child(330) {
  --hue: 13.0145896831;
}
.wrapper_dots .scene .dot:nth-child(331) {
  --hue: 224.4631235863;
}
.wrapper_dots .scene .dot:nth-child(332) {
  --hue: 192.5503353204;
}
.wrapper_dots .scene .dot:nth-child(333) {
  --hue: 76.1299405689;
}
.wrapper_dots .scene .dot:nth-child(334) {
  --hue: 199.8793965792;
}
.wrapper_dots .scene .dot:nth-child(335) {
  --hue: 239.8277790985;
}
.wrapper_dots .scene .dot:nth-child(336) {
  --hue: 175.4281283694;
}
.wrapper_dots .scene .dot:nth-child(337) {
  --hue: 69.6903473095;
}
.wrapper_dots .scene .dot:nth-child(338) {
  --hue: 49.2571589647;
}
.wrapper_dots .scene .dot:nth-child(339) {
  --hue: 118.2792077052;
}
.wrapper_dots .scene .dot:nth-child(340) {
  --hue: 256.9577904178;
}
.wrapper_dots .scene .dot:nth-child(341) {
  --hue: 245.3770817494;
}
.wrapper_dots .scene .dot:nth-child(342) {
  --hue: 70.1642157757;
}
.wrapper_dots .scene .dot:nth-child(343) {
  --hue: 139.7174000725;
}
.wrapper_dots .scene .dot:nth-child(344) {
  --hue: 41.3651846706;
}
.wrapper_dots .scene .dot:nth-child(345) {
  --hue: 208.2871962686;
}
.wrapper_dots .scene .dot:nth-child(346) {
  --hue: 151.184460256;
}
.wrapper_dots .scene .dot:nth-child(347) {
  --hue: 145.2461414278;
}
.wrapper_dots .scene .dot:nth-child(348) {
  --hue: 37.3639406051;
}
.wrapper_dots .scene .dot:nth-child(349) {
  --hue: 138.8035197128;
}
.wrapper_dots .scene .dot:nth-child(350) {
  --hue: 14.182056874;
}
.wrapper_dots .scene .dot:nth-child(351) {
  --hue: 101.4177374823;
}
.wrapper_dots .scene .dot:nth-child(352) {
  --hue: 294.2738592113;
}
.wrapper_dots .scene .dot:nth-child(353) {
  --hue: 140.8740900032;
}
.wrapper_dots .scene .dot:nth-child(354) {
  --hue: 176.4024431565;
}
.wrapper_dots .scene .dot:nth-child(355) {
  --hue: 170.7997108949;
}
.wrapper_dots .scene .dot:nth-child(356) {
  --hue: 102.220313417;
}
.wrapper_dots .scene .dot:nth-child(357) {
  --hue: 148.5340415554;
}
.wrapper_dots .scene .dot:nth-child(358) {
  --hue: 100.4821281814;
}
.wrapper_dots .scene .dot:nth-child(359) {
  --hue: 29.909369651;
}
.wrapper_dots .scene .dot:nth-child(360) {
  --hue: 43.843996808;
}
.wrapper_dots .scene .dot:nth-child(361) {
  --hue: 280.337677068;
}
.wrapper_dots .scene .dot:nth-child(362) {
  --hue: 251.5001666246;
}
.wrapper_dots .scene .dot:nth-child(363) {
  --hue: 75.1688218953;
}
.wrapper_dots .scene .dot:nth-child(364) {
  --hue: 170.8487616765;
}
.wrapper_dots .scene .dot:nth-child(365) {
  --hue: 176.6287681641;
}
.wrapper_dots .scene .dot:nth-child(366) {
  --hue: 86.3210381086;
}
.wrapper_dots .scene .dot:nth-child(367) {
  --hue: 72.4537032474;
}
.wrapper_dots .scene .dot:nth-child(368) {
  --hue: 163.232120851;
}
.wrapper_dots .scene .dot:nth-child(369) {
  --hue: 24.2405897421;
}
.wrapper_dots .scene .dot:nth-child(370) {
  --hue: 15.0477342979;
}
.wrapper_dots .scene .dot:nth-child(371) {
  --hue: 243.6694853233;
}
.wrapper_dots .scene .dot:nth-child(372) {
  --hue: 118.550724109;
}
.wrapper_dots .scene .dot:nth-child(373) {
  --hue: 229.1406718416;
}
.wrapper_dots .scene .dot:nth-child(374) {
  --hue: 296.7417841558;
}
.wrapper_dots .scene .dot:nth-child(375) {
  --hue: 235.0398349111;
}
.wrapper_dots .scene .dot:nth-child(376) {
  --hue: 27.9689855487;
}
.wrapper_dots .scene .dot:nth-child(377) {
  --hue: 204.3498983923;
}
.wrapper_dots .scene .dot:nth-child(378) {
  --hue: 63.3946433838;
}
.wrapper_dots .scene .dot:nth-child(379) {
  --hue: 28.7836446901;
}
.wrapper_dots .scene .dot:nth-child(380) {
  --hue: 291.8967980317;
}
.wrapper_dots .scene .dot:nth-child(381) {
  --hue: 153.2837767923;
}
.wrapper_dots .scene .dot:nth-child(382) {
  --hue: 224.7691412867;
}
.wrapper_dots .scene .dot:nth-child(383) {
  --hue: 115.14842016;
}
.wrapper_dots .scene .dot:nth-child(384) {
  --hue: 14.5171144414;
}
.wrapper_dots .scene .dot:nth-child(385) {
  --hue: 237.7569507963;
}
.wrapper_dots .scene .dot:nth-child(386) {
  --hue: 202.2028517976;
}
.wrapper_dots .scene .dot:nth-child(387) {
  --hue: 40.3827262701;
}
.wrapper_dots .scene .dot:nth-child(388) {
  --hue: 184.5122265396;
}
.wrapper_dots .scene .dot:nth-child(389) {
  --hue: 37.3122563984;
}
.wrapper_dots .scene .dot:nth-child(390) {
  --hue: 113.800283792;
}
.wrapper_dots .scene .dot:nth-child(391) {
  --hue: 180.8658599672;
}
.wrapper_dots .scene .dot:nth-child(392) {
  --hue: 237.6261108765;
}
.wrapper_dots .scene .dot:nth-child(393) {
  --hue: 232.9120653516;
}
.wrapper_dots .scene .dot:nth-child(394) {
  --hue: 253.7330619667;
}
.wrapper_dots .scene .dot:nth-child(395) {
  --hue: 143.3913169881;
}
.wrapper_dots .scene .dot:nth-child(396) {
  --hue: 14.1319197396;
}
.wrapper_dots .scene .dot:nth-child(397) {
  --hue: 194.0832544802;
}
.wrapper_dots .scene .dot:nth-child(398) {
  --hue: 124.7104246737;
}
.wrapper_dots .scene .dot:nth-child(399) {
  --hue: 46.8572067362;
}
.wrapper_dots .scene .dot:nth-child(400) {
  --hue: 195.3974665644;
}
.wrapper_dots .scene .dot:nth-child(20n-0) {
  --delay: 0s;
}
.wrapper_dots .scene .dot:nth-child(n+0) {
  --delay_2: 0s;
}
.wrapper_dots .scene .dot:nth-child(20n-1) {
  --delay: 0.3s;
}
.wrapper_dots .scene .dot:nth-child(n+20) {
  --delay_2: -0.2s;
}
.wrapper_dots .scene .dot:nth-child(20n-2) {
  --delay: 0.6s;
}
.wrapper_dots .scene .dot:nth-child(n+40) {
  --delay_2: -0.4s;
}
.wrapper_dots .scene .dot:nth-child(20n-3) {
  --delay: 0.9s;
}
.wrapper_dots .scene .dot:nth-child(n+60) {
  --delay_2: -0.6s;
}
.wrapper_dots .scene .dot:nth-child(20n-4) {
  --delay: 1.2s;
}
.wrapper_dots .scene .dot:nth-child(n+80) {
  --delay_2: -0.8s;
}
.wrapper_dots .scene .dot:nth-child(20n-5) {
  --delay: 1.5s;
}
.wrapper_dots .scene .dot:nth-child(n+100) {
  --delay_2: -1s;
}
.wrapper_dots .scene .dot:nth-child(20n-6) {
  --delay: 1.8s;
}
.wrapper_dots .scene .dot:nth-child(n+120) {
  --delay_2: -1.2s;
}
.wrapper_dots .scene .dot:nth-child(20n-7) {
  --delay: 2.1s;
}
.wrapper_dots .scene .dot:nth-child(n+140) {
  --delay_2: -1.4s;
}
.wrapper_dots .scene .dot:nth-child(20n-8) {
  --delay: 2.4s;
}
.wrapper_dots .scene .dot:nth-child(n+160) {
  --delay_2: -1.6s;
}
.wrapper_dots .scene .dot:nth-child(20n-9) {
  --delay: 2.7s;
}
.wrapper_dots .scene .dot:nth-child(n+180) {
  --delay_2: -1.8s;
}
.wrapper_dots .scene .dot:nth-child(20n-10) {
  --delay: 3s;
}
.wrapper_dots .scene .dot:nth-child(n+200) {
  --delay_2: -2s;
}
.wrapper_dots .scene .dot:nth-child(20n-11) {
  --delay: 3.3s;
}
.wrapper_dots .scene .dot:nth-child(n+220) {
  --delay_2: -2.2s;
}
.wrapper_dots .scene .dot:nth-child(20n-12) {
  --delay: 3.6s;
}
.wrapper_dots .scene .dot:nth-child(n+240) {
  --delay_2: -2.4s;
}
.wrapper_dots .scene .dot:nth-child(20n-13) {
  --delay: 3.9s;
}
.wrapper_dots .scene .dot:nth-child(n+260) {
  --delay_2: -2.6s;
}
.wrapper_dots .scene .dot:nth-child(20n-14) {
  --delay: 4.2s;
}
.wrapper_dots .scene .dot:nth-child(n+280) {
  --delay_2: -2.8s;
}
.wrapper_dots .scene .dot:nth-child(20n-15) {
  --delay: 4.5s;
}
.wrapper_dots .scene .dot:nth-child(n+300) {
  --delay_2: -3s;
}
.wrapper_dots .scene .dot:nth-child(20n-16) {
  --delay: 4.8s;
}
.wrapper_dots .scene .dot:nth-child(n+320) {
  --delay_2: -3.2s;
}
.wrapper_dots .scene .dot:nth-child(20n-17) {
  --delay: 5.1s;
}
.wrapper_dots .scene .dot:nth-child(n+340) {
  --delay_2: -3.4s;
}
.wrapper_dots .scene .dot:nth-child(20n-18) {
  --delay: 5.4s;
}
.wrapper_dots .scene .dot:nth-child(n+360) {
  --delay_2: -3.6s;
}
.wrapper_dots .scene .dot:nth-child(20n-19) {
  --delay: 5.7s;
}
.wrapper_dots .scene .dot:nth-child(n+380) {
  --delay_2: -3.8s;
}
@media screen and (max-width: 450px) {
  .wrapper_dots .scene .dot {
    width: 5px;
    height: 5px;
    -webkit-animation: dots_move_mobile 5s infinite ease-in-out;
            animation: dots_move_mobile 5s infinite ease-in-out;
    -webkit-animation-delay: calc(var(--delay_2) + var(--delay));
            animation-delay: calc(var(--delay_2) + var(--delay));
  }
}
@-webkit-keyframes dots_move {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(30px) translateY(50px);
  }
}
@keyframes dots_move {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(30px) translateY(50px);
  }
}
@-webkit-keyframes dots_move_mobile {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(20px) translateY(30px);
  }
}
@keyframes dots_move_mobile {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(20px) translateY(30px);
  }
}/*# sourceMappingURL=Dots.css.map */